.s-adidas {
	padding: 262px 0 272px;
	position: relative;
	@media #{$lg} {
		padding: 170px 0;
	}
	@media #{$md} {
		padding-bottom: 100px;
	}
	@media #{$sm} {
		padding-top: 82px;
	}
	@media #{$xs} {
		padding: 40px 0 35px;
	}
	.row {
		justify-content: flex-end;
	}
	&-img {
		left: 0;
		top: 210px;
		position: absolute;
		@media #{$lg} {
			top: 120px;
			max-width: 550px;
		}
		@media #{$md} {
			max-width: 450px;
		}
		@media #{$sm} {
			max-width: 350px;
			top: 70px;
		}
		@media #{$xs} {
			display: none;
		}
	}
	.col {
		@include make-col(7);
		@include flex(column);
		@media #{$md} {
			@include make-col(6);
		}
		@media #{$xs} {
			@include make-col(12);
		}
	}
}