@mixin flex($flex-flow: null, $justify-content: null, $align-items: null ) {
	display: flex;
	@if ($flex-flow != null) {
		flex-flow: $flex-flow;
	}
	@if ($justify-content != null) {
		justify-content: $justify-content;
	}
	@if ($align-items != null) {
		align-items: $align-items;
	}
}

@mixin size($width: null, $maxWidth: null, $height: null) {
	@if ($maxWidth != null) {
		max-width: $maxWidth;
	}
	@if ($width != null) {
		width: $width;
	}
	@if ($height != null) {
		height: $height;
	}
}

@mixin font-set($font-size: null,$font-weight: null,$line-height: null) {
	@if ($font-size != null) {
		font-size: $font-size;
	}
	@if ($font-weight != null) {
		font-weight: $font-weight;
	}
	@if ($line-height != null) {
		line-height: $line-height;
	}
}

@mixin hoverColor($borderColor: null, $color: null, $backgroundColor: null) {
	@if ($borderColor != null) {
		border-color: $borderColor;
	}
	@if ($color != null) {
		color: $color;
	}
	@if ($backgroundColor != null) {
		background-color: $backgroundColor;
	}
}

@import "breakpoints";
@import "grid-framework";
@import "grid";
