.info {
	position: relative;
	margin-bottom: -3px;
	text-align: center;
	opacity: 0.3;
	transition: $standardTransition;
	&:after {
		content: "";
		display: block;
		top: 30px;
		position: absolute;
		left: 50%;
		@include size(2px,null,64px);
		background-color: $secondaryColor;
	}
	&:hover {
		opacity: 0.65;
	}
	&--black {
		&:after {
			background-color: $primaryColor;
		}
	}
	&-link {
		color: $secondaryColor;
		@include font-set(22px,300,20px);
		@media #{$sm} {
			font-size: 18px;
		}
		&--black {
			color: $primaryColor;
		}
	}
}