
.site-wrapper{
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
}
.main-content {
    position: relative;
}
.fixedNavToggler{
    position: fixed;
    left: 15px;
    z-index: 2;
    top: 15px;
    background: none;
    border: 0;
    padding: 0;
}
.fixedNavToggler .bar{
    display: block;
    width: 25px;
    height: 2px;
    background: #ffdd2d;
    margin: 4px 0;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.fixedNavToggler_close{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    color: #ffdd2d;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 165px;
    opacity: 0;
}
.site-wrapper.active .fixedNavToggler_close{
   opacity: 1;
}
.fixed-menu__nav {
    position: fixed;
    width: 150px;
    min-height:  100vh;
    background: #ffdd2d;
    z-index: 100;
    left: -150px;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    top: 0;
    bottom: 0;
}
body{
    position: relative;
}
.site-wrapper__content{
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.site-wrapper.active .fixed-menu__nav{
    left: 0;
}
.site-wrapper.active .site-wrapper__content{
    width: calc(100% - 149px);
}
.fixed-menu__nav.active{
    left: 0;
}
.nav__footer {
    padding-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__footer span {
    font-size: 10px;
}

.nav__footer p {
    font-size: 12px;
    font-weight: 500;
}

.nav__footer p span {
    font-size: 30px;
    font-weight: 500;
}

.nav__footer button {
    margin: 16px 0 16px 0;
    text-align: center;
    border: none;
    background: #222222;
    font-size: 12px;
    font-weight: 500;
    border-radius: 40px;
    width: 80%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.nav__footer a {
    color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
        -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.nav__footer a:hover{
    opacity: 0.8;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.nav__footer a img{
    margin-right: 10px;
    width: 18px;
    height: 15px;
}

.nav__footer button:hover {
    background: #535353;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.nav__footer button p {
    padding: 10px 15px 10px 15px;
    color: #fff;
}

.nav__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav__wrap a {
    width: 100%;
    font-size: 14px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e7c82b;
    text-align: center;
    color: #483f0e;
    font-weight: 500;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.nav__wrap a:hover {
    background: #212222;
    color: #ecedee;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.nav__wrap a:last-of-type {
    border-bottom: none;
}

.lamba__slide {
    height: 350px;
    width: 100%;
    background: url(../img/slide1.jpg) center center;
    background-size: cover;
}

.slick-prev,
.slick-next,
.slick-dots {
    display: block !important;
}
.slick-next.slick-arrow{
    right: 10px;
    background: url(../img/slideNext.png);
    width: 50px;
    height: 50px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.slick-next.slick-arrow:hover{
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0.5;
}
.s-other-tour-slide button{
    display: none!important;
}
.m-other-tour-slide button{
    display: none!important;
}
.m-other-tour-slide{
    display: none;
}
.other-tour__title{
    text-align: center;
}
.slick-prev.slick-arrow{
        left: 10px;
    background: url(../img/slidePrev.png);
    width: 50px;
    height: 50px;
    z-index: 1;
}
.slick-prev.slick-arrow:hover{
        -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0.5;
}

.travel__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.travel__title span {
    font-size: 20px;
    color: #7b7b7b;
}

.travel.row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.travel__column {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.calendar {
    border: 3px solid #dedede;
    border-radius: 8px;
    padding: 12px 25px 12px 25px;
    font-size: 15px;
    color: #7b7b7b;
    font-weight: bold;
    margin-bottom: 20px;
}

.travel__image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 224px;
    width: 100%;
    margin-bottom: 20px;
}

.travel__text {
    font-size: 14px;
    color: #7b7b7b;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.surfing__item p {
    color: #199461;
    font-weight: bold;
}

.surfing__item span {
    font-size: 12px;
    font-weight: bold;
    color: #525252;
}

.frame__width {
    width: 100%;
    /*    max-height: 500px;*/
    height: 500px;
}

.maps__frame {
    position: relative;
    height: 500px;

}

.maps__slide {
    width: 50%;
    height: 500px;
    position: absolute;
    background-color: rgba(255, 226, 74, 0.7);
}

.maps__side {
    cursor: pointer;
    width: 2%;
    height: 500px;
    position: absolute;
    background-color: rgba(255, 226, 74, 0.7);
    opacity: 0;
}

.maps__side #show {
    height: 500px;
}

.maps__side #show img {
    position: absolute;
    bottom: 50%;
}

.maps__text {
    position: relative;
    padding: 44px 45% 50% 35px;
}

.maps__text h2 {
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
}

.maps__text p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 25px;
}

.maps__mini {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    bottom: 25px;
    right: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.maps__mini p {
    padding-left: 10px;
}

.s-high__list {
    padding: 40px 0 50px 0;
}

.high__title {
    text-align: center;
}

.row.high {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.exp__list {
    padding-left: 0px;
}

.s-tour-accordeon {
    padding-top: 40px;
}

.tour-accordeon__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.tour-accordeon__btn {
    width: 100%;
    background: none;
    border-style: none;
    outline-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tour-accordeon__btn .block-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
}

.tour-accordeon__btn .block-one .day,
.string {
    font-weight: bold;
    padding-right: 20px;
}

.tour-accordeon__btn .block-one .text {
    color: #454545;
    font-weight: 500;
}

.tour-accordeon__wrap {
    font-size: 13.5px;
    color: #454545;
    font-weight: 500;
}

.tour-accordeon__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
}

.acr__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.acr__flex:last-of-type {
    padding-left: 10px;
}

.acr__flex img {
    padding-bottom: 5px;
}

.tour-accordeon__image img {
    width: 100%;
}

.s-tour-accordeon .card {
    margin-bottom: 2px;
}

.s-prices {
    padding-top: 52px;
    padding-bottom: 45px;
}

.row.prices {}

.prices__title {
    text-align: center;
    padding-bottom: 32px;
}

.prices__image img {
    width: 100%;
}

.prices__wrap {
    padding: 15px;
}

.prices__head {
    padding-top: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.prices__head .iner {
    font-size: 16px;
    font-weight: bold;
    color: #2a2a2a;
}

.iner__text {
    padding: 10px 15px 10px 15px;
    border: 3px solid #ffdd2d;
    border-radius: 4px;
}

.prices__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.prices__select .select__text {
        padding-right: 20px;
    }
.main__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.main__text p {
    font-size: 16px;
    color: #363636;
    text-align: right;
    font-weight: 500;
}

.main__text .euro {
    font-size: 44px;
    font-weight: bold;
    padding-left: 20px;
}

.main__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #7b7b7b;
    font-size: 12px;
    font-weight: 500;
}

.main__info p {
    text-align: right;
}

.prices__select {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.prices__select .select__text {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.selectric {
    background: none;
    border: none;

}

.selectric .button {
    background: none !important;
    border: none;
}

.selectric .label {
    font-size: 16px;
    font-weight: 500;
    color: #199461;
}

.selectric-items li {
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    text-align: center;
}

.selectric-items li.highlighted {
    font-size: 15px;
    font-weight: 400;
    color: #575757;
    text-align: center;
}

.prices__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}

.prices__button .btn-one {
    background-color: #fcfcfc;
    border: 1px solid #dedede;
    padding: 14px 60px 14px 60px;
    border-radius: 40px;
    font-size: 14px;
    color: #7b7b7b;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.prices__button .btn-one:hover {
    background-color: #ffffff;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    -webkit-box-shadow: 0px 0px 59px -9px rgba(224, 224, 224, 0.75);
    box-shadow: 0px 0px 59px -9px rgba(224, 224, 224, 0.75);
}

.prices__button p {
    margin: 0;
}

.prices__button .btn-two {
    background-color: #199461;
    border: 1px solid #199461;
    padding: 14px 60px 14px 60px;
    border-radius: 40px;
    font-size: 14px;
    color: #f6f7f7;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

.prices__button .btn-two:hover {
    background-color: #20a769;
    border: 1px solid #20a769;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    -webkit-box-shadow: 0px 0px 59px -9px rgba(224, 224, 224, 0.75);
    box-shadow: 0px 0px 59px -9px rgba(224, 224, 224, 0.75);
}

.brno,
.brys {
    margin: 0 !important;
    padding: 0 !important;
}

.brys {
    border: 1px solid #ececec;
    background-color: #fcfcfc;
}

.s-package {
    padding-top: 45px;
    padding-bottom: 45px;
}

.exp__list.green {
    padding-left: 40px;
    background-color: #199461;
    color: #fff;
}

.exp__list.grey {
    padding-left: 40px;
    background-color: #efefef;
    color: #323232;
}

.green__title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

.s-support {
    padding-top: 45px;
    padding-bottom: 45px;
}

.support__title {
    text-align: center;
    padding-bottom: 25px;
}

.support__image {
    padding-bottom: 16px;
}

.support__image img {
    width: 100%;
}

.support__text {
    font-weight: 500;
}

.support__text h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.support__text p {
    font-size: 14px;
}

.s-used {
    padding-top: 45px;
    padding-bottom: 45px;
}

.used__column {
    padding-bottom: 10px;
}

.used__title {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.used__image img {
    width: 100%;
}

.used__wrap {
    border: 2px solid #ececec;
    display: block;
    color: #000;
    cursor: pointer;
        -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.used__wrap:hover{
    color: #000;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 46px -11px rgba(135,135,135,1);
box-shadow: 0px 0px 46px -11px rgba(135,135,135,1);
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.used__text {
    padding: 20px 20px 20px 20px;
}

.text__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.used__btn {
    background: none;
    border: 2px solid #ffdd2d;
    border-radius: 25px;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.used__btn:hover {
    background: #ffdd2d;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.used__btn p {
    margin: 0;
    padding: 5px 17px 5px 17px;
    font-size: 14px;
    font-weight: 500;
}

.used__text .text__title {
    font-weight: 500;
}

.used__text .text__title h3 {
    font-size: 24px;
    padding-bottom: 12px;
}

.used__text .text__title p {
    font-size: 14px;
}


.s-hotels {
    padding-top: 45px;
    padding-bottom: 45px;
}

.hotels__title {
    text-align: center;
    padding-bottom: 34px;
}

.hotels__image {
    padding-top: 20px;
}
.hotels__image img{
    width: 100%;
}

.hotels__wrap {
    padding: 15px 0 0 15px;
}

.hotels__text h3 {
    font-size: 24px;
}

.hotels__text p {
    font-size: 14px;
    padding-top: 10px;
}

.hotels__includ {
    padding-top: 15px;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.includ__check {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.includ__check .other {
    padding-right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.includ__check .other img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.hotels__includ span a {
    color: #4caf50;
}

.hotels__includ span a:hover {
    color: #429646;
}

.nav,
.nav .nav-tabs {
    border: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    padding: 14px 40px 14px 40px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #373737;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    background-color: #ffdd2d;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.nav-tabs .nav-item {
    margin-right: 8px;
}

.s-info {
    padding-top: 45px;
    padding-bottom: 45px;
}

.info__title {
    text-align: center;
}

.info__wrap {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 500;
}

.info__wrap p {
    padding-top: 35px;
}

.info__wrap p span {
    color: #000;
    font-weight: 500;
}

.s-enq {
    padding-bottom: 45px;
}

.s-enq-bg {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
}

.enq__title {
    text-align: center;
    padding-bottom: 30px;
}

.enq__form p {
    color: #828282;
    padding-bottom: 14px;
}

input, textarea{
    outline: none!important;
}
.enq__form input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 25px;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;
    border: 1px solid transparent;
}

.enq__form input:focus{
    border-color: #4caf50;
}

.enq__area p {
    color: #828282;
    padding-bottom: 14px;
}

.enq__area textarea {
    width: 100%;
    height: 276px;
    padding: 15px;
    resize: none;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;
    border: 1px solid transparent;
}
.enq__area textarea:focus{
    border-color: #4caf50;
}

.enq__pad {
    padding-bottom: 50px;
}

.enq__checkbox {
    padding: 20px 0 20px 15px;
    background: #f9f9f9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.enq__checkbox p {
    color: #9e9e9e;
}

.enq__checkbox input {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.enq__button{
    text-align: center;
}
.enq__button button {
    background-color: #4caf50;
    border: none;
    width: 80%;
    border-radius: 35px;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.enq__button button:hover {
    background: #30b353;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.enq__button button p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 20px 0 20px 0;
}

.s-gallery {
    padding-top: 45px;
    padding-bottom: 45px;
}

.gallery__title {
    text-align: center;
    padding-bottom: 40px;
}

.carousel-indicators {
    bottom: -50px;
}

.image__galery {
    list-style: none;
}

.image__galery img {
    width: 180px;
    height: 100px;
    display: block;
    cursor: pointer;
}

.galery__carus {
    padding-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tour__image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tour__image img {
    width: 39px;
    height: 24px;
    padding-left: 5px;
}

.tour__row {
    padding: 0 10px 0 10px;
}
