p {
	font-family: $fontGilroy;
}

.text {
	color: $greyHard;
	@include font-set(16px,500,24px);
	word-break: break-word;
	font-family: $fontGilroy;
	&--lg {
		font-size: 18px;
		padding-bottom: 50px;
	}
	&--black {
		color: $black;
	}
	&--blue {
		color: $blue;
	}
	&--vacancies {
		font-size: 18px;
	}
	&--link {
		text-decoration: underline;
	}
	&--border {
		@include flex(null,null,center);
	}
}