.title {
	color: $black;
	font-family: $fontGilroyBold;
	margin-bottom: 15px;
	@include font-set(36px,700,45px);
	@media #{$md} {
		@include font-set(32px,null,40px);
	}
	@media #{$xs} {
		@include font-set(26px,null,30px);
	}
	&--blue {
		color: $blue;
	}
}