.carousel-indicators {
	margin-top: 45px;
	li {
		width: 13px;
		height: 13px;
		background-color: $greyMedium;
		border-radius: 50%;
		margin: 0 8px;
		&.active {
			background-color: $blue;
		}
	}
}