%flexColumn {
	display: flex;
	flex-direction: column;
}
%flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
%flexRowCenter {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
%flexRow {
	display: flex;
	flex-flow: row wrap;
}