@font-face {
	font-family: 'Gillroy';
	src: url('../font/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Gillroy-Bold';
	src: url('../font/Gilroy-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Gillroy-Semibold';
	src: url('../font/Gilroy-Semibold.woff2') format('woff2');
}

$fontGilroy: 'Gillroy';
$fontGilroyBold: 'Gillroy-Bold';
$fontGilroySemibold: 'Gillroy-Semibold';
body {
	font-family: $fontGilroy;
}

h1, h2, h3, h4, h5 {
	font-family: $fontGilroyBold;
}