.link {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: $black;
	transition: $standard;
	&:hover {
		color: $blue;
	}
	&--bold {
		font-family: $fontGilroyBold;
	}
}