.link {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: $black;
	transition: $standard;
	&:hover {
		color: $blue;
	}
	&--bold {
		font-family: $fontGilroyBold;
	}
	&-social {
		margin: 0 10px;
		&:hover {
			.link-svg {
				fill: $blue;
			}
		}
	}
	&-svg {
		transition: $standard;
	}
}