.title {
	color: $black;
	font-family: $fontGilroyBold;
	font-size: 36px;
	line-height: 45px;
	margin-bottom: 15px;
	@media #{$xs} {
		font-size: 26px;
		line-height: 30px;
	}
	&--blue {
		color: $blue;
	}
}