@font-face {
  font-family: 'Gillroy';
  src: url("../font/Gilroy.woff") format("woff"); }
@font-face {
  font-family: 'Gillroy-Bold';
  src: url("../font/Gilroy-Bold.woff") format("woff"); }
body {
  font-family: "Gillroy"; }

h1, h2, h3, h4, h5 {
  font-family: "Gillroy-Bold"; }

main .s-main-col, main .s-about .container, main .s-services .row, main .s-price .col, main .s-question .col, .footer .col--user, .footer .col--contact, .footer .col--callback {
  display: flex;
  flex-direction: column; }

main .s-work .col-header, main .s-team .carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

header .nav-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

main .s-main .container, main .s-work .container, main .s-services .container, .footer .container {
  display: flex;
  flex-flow: row wrap; }

a, h1, h2, h3, h4, h5, p, span {
  padding: 0;
  margin: 0; }

.title {
  color: #3F3D56;
  font-family: "Gillroy-Bold";
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 15px; }
  .title--blue {
    color: #3964FC; }

.subtitle {
  color: #3F3D56;
  font-size: 24px;
  line-height: 30px; }
  .subtitle--blue {
    color: #3964FC; }

.caption {
  color: #3F3D56;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px; }

.text {
  color: #818AA9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700; }
  .text--lg {
    font-size: 18px;
    padding-bottom: 50px; }
  .text--black {
    color: #3F3D56; }

.btn {
  font-family: "Gillroy-Bold";
  background: #3964FC;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  transition: 0.3s all ease; }
  .btn:hover {
    background-color: #355BE1; }
  .btn--main {
    max-width: 241px; }

.link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #3F3D56;
  transition: 0.3s all ease; }
  .link:hover {
    color: #3964FC; }
  .link--bold {
    font-family: "Gillroy-Bold"; }

.list {
  flex: 1 0 0;
  color: #3964FC;
  padding-left: 20px; }
  .list-item {
    font-weight: bold;
    padding-bottom: 10px; }
    .list-item span {
      color: #3F3D56 !important; }

.carousel-indicators {
  margin-top: 45px; }
  .carousel-indicators li {
    width: 13px;
    height: 13px;
    background-color: #C0C4D4;
    border-radius: 50%;
    margin: 0 8px; }
    .carousel-indicators li.active {
      background-color: #3964FC; }

header {
  padding: 44px 0; }
  header .nav {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between; }
    header .nav-logo {
      font-family: "Gillroy-Bold";
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #3F3D56;
      transition: 0.3s all ease; }
      header .nav-logo:hover {
        opacity: 0.75; }
    header .nav-item {
      font-family: "Gillroy-Bold";
      color: #3F3D56;
      margin: 0 12px;
      transition: 0.3s all ease; }
      header .nav-item:hover {
        color: #3964FC; }
      header .nav-item--btn {
        padding: 14px 33px;
        background: none;
        border: 1px solid #E1E5EF;
        border-radius: 33px;
        transition: 0.3s all ease; }
        header .nav-item--btn:hover {
          color: #3F3D56;
          background-color: #E1E5EF; }

main .s-main {
  padding-bottom: 50px; }
  main .s-main-title {
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 15px; }
    main .s-main-title--blue {
      color: #3964FC; }
  main .s-main .text {
    padding-bottom: 25px; }
  main .s-main .container {
    max-width: 1366px;
    align-items: center;
    background-color: #F2F3F6;
    border-radius: 33px; }
  main .s-main-col {
    flex: 1 0 0; }
  main .s-main-img {
    margin-top: -30px;
    margin-left: 10px;
    margin-bottom: -40px;
    margin-right: 80px; }
main .s-work {
  padding-bottom: 60px; }
  main .s-work .col {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    text-align: center;
    padding: 0 15px; }
    main .s-work .col-header {
      min-height: 180px;
      margin-bottom: 15px; }
main .s-about {
  padding-bottom: 60px; }
  main .s-about .subtitle {
    padding-bottom: 25px; }
  main .s-about .text--lg {
    max-width: 470px; }
  main .s-about .text--border {
    max-width: 680px;
    display: flex;
    align-items: center; }
  main .s-about .border {
    margin-right: 15px;
    padding-right: 5px;
    width: 5px;
    height: 40px;
    border-radius: 10px;
    background-color: #3964FC; }
  main .s-about .col {
    padding: 0 15px;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
    main .s-about .col-img {
      margin-bottom: 24px; }
main .s-services {
  padding-bottom: 60px; }
  main .s-services .row {
    flex: 1 0 0;
    padding-left: 90px; }
  main .s-services .subtitle {
    padding-bottom: 24px; }
  main .s-services .text {
    padding-bottom: 30px; }
main .s-price {
  padding-bottom: 90px; }
  main .s-price .title {
    text-align: center; }
  main .s-price .subtitle {
    text-align: center;
    padding-bottom: 25px; }
  main .s-price .text {
    text-align: center;
    padding-bottom: 36px; }
  main .s-price .row {
    padding: 0 15px;
    justify-content: space-between; }
  main .s-price .col {
    flex: 0 0 30.8333333333%;
    max-width: 30.8333333333%;
    background-color: #F2F3F6;
    position: relative;
    padding: 37px 34px 27px;
    border-radius: 15px;
    border: 2px solid white;
    transition: 0.3s all ease;
    overflow: hidden;
    cursor: pointer; }
    main .s-price .col:hover {
      border-color: #3964FC; }
      main .s-price .col:hover .col-info {
        top: 52px; }
    main .s-price .col-info {
      transform: rotate(-90deg);
      top: -56px;
      left: -30px;
      position: absolute;
      background-color: #3964FC;
      color: white;
      border-radius: 15px 0 0 15px;
      font-size: 14px;
      padding: 8px 10px 8px 25px;
      line-height: 10px;
      transition: 0.3s all ease; }
    main .s-price .col-price {
      font-size: 36px;
      color: #3964FC;
      text-align: center;
      margin-bottom: 40px; }
      main .s-price .col-price-exchange {
        font-size: 24px; }
main .s-question {
  padding-bottom: 90px; }
  main .s-question .caption {
    max-width: 465px;
    margin-bottom: 36px; }
  main .s-question .row {
    flex-direction: column; }
  main .s-question .col {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 7px; }
    main .s-question .col-btn {
      width: 100%;
      padding: 25px 25px 25px 32px;
      background: #F2F3F6;
      text-align: left;
      color: #3F3D56;
      border-radius: 15px;
      transition: 0.3s all ease;
      font-size: 18px;
      font-family: "Gillroy-Bold"; }
      main .s-question .col-btn[aria-expanded="true"] {
        background: #3964FC;
        color: white;
        border-radius: 15px 15px 0 0; }
    main .s-question .col-card {
      padding: 26px 60px 26px 32px;
      background: #F2F3F6;
      font-size: 16px;
      line-height: 24px;
      border-radius: 0 0 15px 15px; }
main .s-team {
  padding-bottom: 67px; }
  main .s-team .title {
    text-align: center; }
  main .s-team .subtitle {
    text-align: center;
    margin-bottom: 15px; }
  main .s-team .text {
    text-align: center;
    margin-bottom: 20px; }
  main .s-team .carousel-wrap {
    display: flex;
    justify-content: space-between; }
  main .s-team .carousel-wrapper {
    cursor: pointer; }
    main .s-team .carousel-wrapper:hover .carousel-content {
      opacity: 1;
      z-index: 1; }
  main .s-team .carousel-img {
    margin-bottom: 36px; }
  main .s-team .carousel-content {
    transition: 0.3s all ease;
    display: flex;
    justify-content: center;
    opacity: 0;
    z-index: -1; }
  main .s-team .link-social {
    margin: 0 5px; }
main .s-license {
  padding-bottom: 60px; }
  main .s-license .title {
    margin-bottom: 15px; }
  main .s-license .subtitle {
    margin-bottom: 15px; }
  main .s-license .text {
    margin-bottom: 40px;
    color: #3F3D56;
    font-weight: 700; }
    main .s-license .text--last {
      margin-bottom: 25px; }
main .s-privacy {
  padding-bottom: 60px; }
  main .s-privacy .subtitle {
    margin-bottom: 15px; }
  main .s-privacy .text {
    margin-bottom: 40px;
    color: #3F3D56;
    font-weight: 700; }
    main .s-privacy .text--last {
      margin-bottom: 25px; }

.footer .title {
  margin-top: -10px;
  line-height: 34px; }
.footer .subtitle {
  margin-bottom: 13px; }
.footer .col--main {
  flex: 0 0 25%;
  max-width: 25%; }
.footer .col--user {
  align-items: flex-start;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }
.footer .col--contact {
  align-items: flex-start;
  flex: 0 0 25%;
  max-width: 25%; }
.footer .col--callback {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }
.footer .col--social {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 20px 0 40px;
  text-align: center; }
.footer .col--copyright {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 30px;
  text-align: center; }
.footer .form {
  display: flex; }
  .footer .form-input {
    flex: 1 0 0;
    padding: 17px 20px 17px 22px;
    background-color: #F2F3F6;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #818AA9;
    z-index: 0;
    outline: none !important; }
  .footer .form .btn {
    max-width: 118px;
    margin-left: -30px;
    z-index: 2; }
.footer .link--adress {
  margin-bottom: 30px;
  padding-right: 50px; }

/*# sourceMappingURL=style.css.map */
