@font-face {
  font-family: 'Gillroy';
  src: url("../font/Gilroy.woff") format("woff"); }
@font-face {
  font-family: 'Gillroy-Bold';
  src: url("../font/Gilroy-Bold.woff") format("woff"); }
body {
  font-family: "Gillroy"; }

h1, h2, h3, h4, h5 {
  font-family: "Gillroy-Bold"; }

.s-language .container, main .s-main-col, main .s-about .container, main .s-services .row, main .s-price .col, main .s-question .col, main .s-project .col, .footer .col--user, .footer .col--contact, .footer .col--callback {
  display: flex;
  flex-direction: column; }

main .s-work .col-header, main .s-team .carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

header .nav-menu, main .s-main .container, main .s-vacancies .nav-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.s-language-wrap, main .s-work .container, main .s-services .container, main .s-project .col-header, .footer .container {
  display: flex;
  flex-flow: row wrap; }

a, h1, h2, h3, h4, h5, p, span {
  padding: 0;
  margin: 0; }

.title {
  color: #3F3D56;
  font-family: "Gillroy-Bold";
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .title {
      font-size: 26px;
      line-height: 30px; } }
  .title--blue {
    color: #3964FC; }

.subtitle {
  color: #3F3D56;
  font-size: 24px;
  line-height: 30px; }
  @media screen and (max-width: 767px) {
    .subtitle {
      font-size: 20px;
      line-height: 24px; } }
  .subtitle--blue {
    color: #3964FC; }

.caption {
  color: #3F3D56;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px; }

.text {
  color: #818AA9;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  word-break: break-word; }
  .text--lg {
    font-size: 18px;
    padding-bottom: 50px; }
  .text--black {
    color: #3F3D56; }
  .text--blue {
    color: #3964FC; }
  .text--vacancies {
    font-size: 18px; }
  .text--link {
    text-decoration: underline; }
  .text--border {
    display: flex;
    align-items: center; }

.btn {
  font-family: "Gillroy-Bold";
  background: #3964FC;
  border: 2px solid #3964FC;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  transition: 0.3s all ease; }
  .btn:hover {
    background-color: #355BE1;
    border-color: #355BE1; }
  .btn--main {
    max-width: 241px; }
    @media (max-width: 991px) {
      .btn--main {
        margin-bottom: 25px; } }
  .btn--price {
    max-width: 240px;
    margin: 0 auto; }

.link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #3F3D56;
  transition: 0.3s all ease; }
  .link:hover {
    color: #3964FC; }
  .link--bold {
    font-family: "Gillroy-Bold"; }
  .link-social {
    margin: 0 10px; }
    .link-social:hover .link-svg {
      fill: #3964FC; }
  .link-svg {
    transition: 0.3s all ease; }

.list {
  flex: 1 0 0;
  color: #3964FC;
  padding-left: 20px; }
  .list-item {
    font-weight: bold;
    padding-bottom: 10px; }
    .list-item span {
      color: #3F3D56 !important;
      line-height: 24px; }

.carousel-indicators {
  margin-top: 45px; }
  .carousel-indicators li {
    width: 13px;
    height: 13px;
    background-color: #C0C4D4;
    border-radius: 50%;
    margin: 0 8px; }
    .carousel-indicators li.active {
      background-color: #3964FC; }
    @media screen and (max-width: 767px) {
      .carousel-indicators li {
        width: 18px;
        height: 18px;
        margin: 0 12px; } }

.s-language {
  position: relative;
  text-align: center;
  padding-top: 200px; }
  .s-language .container {
    justify-content: center; }
  .s-language .logo {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 15px; }
  .s-language .text {
    margin-bottom: 30px; }
  .s-language .link {
    font-size: 16px; }
  .s-language-wrap {
    margin: 0 auto;
    padding-bottom: 60px;
    width: 100%;
    max-width: 420px;
    justify-content: space-between; }
  .s-language .btn {
    max-width: 200px; }

header {
  padding: 44px 0; }
  @media (max-width: 991px) {
    header {
      padding: 20px 0; } }
  header .nav {
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between; }
    header .nav.active .nav-burger-item--1 {
      top: 12px;
      transform: rotate(-45deg); }
    header .nav.active .nav-burger-item--2 {
      opacity: 0;
      z-index: -2; }
    header .nav.active .nav-burger-item--3 {
      transform: rotate(45deg);
      bottom: 13px; }
    header .nav.active .nav-menu {
      border-top: 1px solid #F2F3F6;
      padding-top: 10px;
      margin-top: 65px;
      z-index: 1;
      opacity: 1; }
    header .nav-logo {
      font-family: "Gillroy-Bold";
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #3F3D56;
      transition: 0.3s all ease;
      z-index: 2; }
      @media screen and (max-width: 767px) {
        header .nav-logo {
          font-size: 26px; } }
      header .nav-logo:hover {
        opacity: 0.75; }
    @media (max-width: 991px) {
      header .nav-menu {
        transition: 1.3s all ease;
        position: absolute;
        width: 100%;
        margin-top: -550px;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        z-index: -2;
        opacity: 0;
        left: 0; } }
    header .nav-item {
      font-family: "Gillroy-Bold";
      color: #3F3D56;
      margin: 0 12px;
      transition: 0.3s all ease; }
      @media (max-width: 991px) {
        header .nav-item {
          padding: 15px 20px;
          margin-bottom: 10px; } }
      header .nav-item:hover {
        color: #3964FC; }
      header .nav-item--btn {
        padding: 14px 33px;
        background: none;
        border: 1px solid #E1E5EF;
        border-radius: 33px;
        transition: 0.3s all ease;
        outline: none !important;
        margin-bottom: 0;
        z-index: 2; }
        @media screen and (max-width: 767px) {
          header .nav-item--btn {
            padding: 12px;
            margin-left: 0; } }
        @media (max-width: 991px) {
          header .nav-item--btn--lg {
            display: none; } }
        header .nav-item--btn:hover {
          border-color: #3964FC;
          color: black; }
        header .nav-item--btn:active {
          background: #3964FC;
          color: white; }
      header .nav-item--language {
        position: relative;
        z-index: 1; }
        header .nav-item--language:hover {
          padding-bottom: 10px;
          margin-bottom: -10px; }
          header .nav-item--language:hover .nav-item--language--franc {
            top: 25px;
            opacity: 1;
            z-index: 1; }
          header .nav-item--language:hover .nav-item--arrow {
            transform: rotate(180deg); }
        header .nav-item--language--franc {
          position: absolute;
          left: -12px;
          top: 0;
          opacity: 0;
          z-index: -2;
          transition: 0.5s all ease-out; }
      header .nav-item--arrow {
        transition: 0.3s all ease; }
    header .nav-wrap {
      display: none;
      max-width: 210px;
      width: 100%; }
      @media (max-width: 991px) {
        header .nav-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center; } }
      @media screen and (max-width: 767px) {
        header .nav-wrap {
          max-width: 150px; } }
    header .nav-burger {
      position: relative;
      display: none;
      width: 40px;
      min-height: 30px;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      cursor: pointer;
      z-index: 2; }
      @media (max-width: 991px) {
        header .nav-burger {
          display: flex; } }
      header .nav-burger-item {
        position: absolute;
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        background-color: #3964FC;
        transition: 0.3s all ease; }
        header .nav-burger-item--1 {
          top: 0; }
        header .nav-burger-item--2 {
          top: 13px;
          width: 20px;
          opacity: 1; }
        header .nav-burger-item--3 {
          bottom: 0; }

main .s-main {
  padding-bottom: 50px; }
  @media (max-width: 1199px) {
    main .s-main {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 991px) {
    main .s-main {
      padding: 30px 15px 50px; } }
  main .s-main--licence {
    padding-top: 20px;
    padding-bottom: 80px; }
    @media screen and (max-width: 767px) {
      main .s-main--licence {
        padding-top: 30px; } }
  main .s-main--project {
    padding-bottom: 100px; }
  @media (max-width: 1199px) {
    main .s-main--vacancies .text {
      padding-bottom: 15px; } }
  main .s-main-title {
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 15px; }
    @media (max-width: 1199px) {
      main .s-main-title {
        font-size: 40px; } }
    @media screen and (max-width: 767px) {
      main .s-main-title {
        font-size: 30px;
        line-height: 40px; } }
    @media screen and (max-width: 320px) {
      main .s-main-title {
        font-size: 26px;
        line-height: 35px; } }
    main .s-main-title--blue {
      color: #3964FC; }
    main .s-main-title--privacy {
      padding-bottom: 0; }
      @media screen and (max-width: 767px) {
        main .s-main-title--privacy {
          padding-bottom: 20px; } }
  main .s-main .text {
    padding-bottom: 25px; }
  main .s-main .container {
    max-width: 1330px;
    background-color: #F2F3F6;
    border-radius: 33px; }
    @media (max-width: 991px) {
      main .s-main .container {
        flex-direction: column; } }
    @media screen and (max-width: 320px) {
      main .s-main .container--privacy {
        padding: 0; } }
  main .s-main-img {
    margin: -30px 80px -40px 10px;
    max-width: 100%; }
    @media (max-width: 1199px) {
      main .s-main-img {
        max-width: 450px;
        width: 100%;
        margin-right: 30px; } }
    main .s-main-img--licence {
      margin: -60px 50px -20px 10px; }
      @media (max-width: 1199px) {
        main .s-main-img--licence {
          margin-right: 0; } }
    main .s-main-img--vacancies {
      margin-top: -20px;
      margin-right: 0; }
    main .s-main-img--privacy {
      margin: 0 40px -40px 50px; }
    main .s-main-img--project {
      margin-top: -50px; }
    @media (max-width: 991px) {
      main .s-main-img {
        margin: -30px auto 10px; } }
  main .s-main-col {
    flex: 1 0 0; }
    @media (max-width: 991px) {
      main .s-main-col {
        align-items: center;
        text-align: center; } }
    main .s-main-col--project {
      max-width: 554px; }
main .s-work {
  padding-bottom: 60px; }
  @media screen and (max-width: 767px) {
    main .s-work .container {
      flex-direction: column; } }
  main .s-work .col {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    text-align: center;
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      main .s-work .col {
        flex: 0 0 100%;
        max-width: 100%; } }
    main .s-work .col-img {
      max-width: 100%; }
    main .s-work .col-header {
      min-height: 180px;
      margin-bottom: 15px; }
main .s-about {
  padding-bottom: 60px; }
  main .s-about .subtitle {
    padding-bottom: 25px; }
  main .s-about .text--lg {
    max-width: 470px; }
  main .s-about .text--border {
    border-left: 5px solid #3964FC;
    padding-left: 15px;
    max-width: 695px;
    padding-bottom: 0;
    margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    main .s-about .row {
      flex-direction: column; } }
  main .s-about .col {
    padding: 0 15px;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
    @media screen and (max-width: 767px) {
      main .s-about .col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center; } }
    main .s-about .col-img {
      margin-bottom: 24px; }
main .s-services {
  padding-bottom: 60px; }
  main .s-services .container {
    align-items: center; }
    @media (max-width: 991px) {
      main .s-services .container {
        justify-content: center; } }
  main .s-services-img {
    max-width: 100%; }
    @media (max-width: 991px) {
      main .s-services-img {
        margin-bottom: 40px; } }
  main .s-services .row {
    flex: 1 0 0;
    padding-left: 90px; }
    @media (max-width: 991px) {
      main .s-services .row {
        padding-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        align-items: center;
        text-align: center; } }
  main .s-services .subtitle {
    padding-bottom: 24px; }
  main .s-services .text {
    padding-bottom: 30px; }
main .s-price {
  padding-bottom: 90px; }
  main .s-price .title {
    text-align: center; }
  main .s-price .subtitle {
    text-align: center;
    padding-bottom: 25px; }
  main .s-price .text {
    text-align: center;
    padding-bottom: 36px; }
    main .s-price .text--month {
      font-size: 18px;
      margin-bottom: 20px;
      opacity: 0;
      transition: 0.3s all ease;
      z-index: -1;
      color: #818AA9; }
  main .s-price .row {
    padding: 0 15px;
    justify-content: space-between; }
  main .s-price .carousel {
    display: none;
    width: 100%; }
    @media (max-width: 991px) {
      main .s-price .carousel {
        display: block; } }
    main .s-price .carousel-item {
      min-height: 520px; }
  main .s-price .col {
    flex: 0 0 30.8333333333%;
    max-width: 30.8333333333%;
    background-color: #F2F3F6;
    position: relative;
    padding: 37px 34px 27px;
    border-radius: 15px;
    border: 2px solid white;
    transition: 0.3s all ease;
    overflow: hidden;
    cursor: pointer; }
    @media (max-width: 991px) {
      main .s-price .col {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0 auto;
        max-width: 420px;
        min-height: 686px; } }
    @media screen and (max-width: 767px) {
      main .s-price .col {
        min-height: 570px; } }
    @media screen and (max-width: 320px) {
      main .s-price .col {
        padding: 37px 15px; } }
    @media (max-width: 991px) {
      main .s-price .col--lg {
        display: none; } }
    main .s-price .col:hover {
      border-color: #3964FC; }
      main .s-price .col:hover .col-info {
        top: 52px; }
      main .s-price .col:hover .text--month {
        opacity: 1;
        z-index: 2; }
    main .s-price .col-info {
      transform: rotate(-90deg);
      top: -56px;
      left: -30px;
      position: absolute;
      background-color: #3964FC;
      color: white;
      border-radius: 15px 0 0 15px;
      font-size: 14px;
      padding: 8px 10px 8px 25px;
      line-height: 10px;
      transition: 0.3s all ease; }
    main .s-price .col-price {
      font-size: 36px;
      color: #3964FC;
      text-align: center;
      margin-bottom: 10px; }
      main .s-price .col-price-exchange {
        font-size: 24px; }
main .s-question {
  padding-bottom: 90px; }
  main .s-question .caption {
    max-width: 465px;
    margin-bottom: 36px; }
  main .s-question .row {
    flex-direction: column; }
  main .s-question .col {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 7px; }
    main .s-question .col-btn {
      position: relative;
      width: 100%;
      padding: 25px 25px 25px 32px;
      background: #F2F3F6;
      text-align: left;
      color: #3F3D56;
      border-radius: 15px;
      transition: 0.3s all ease;
      font-size: 18px;
      font-family: "Gillroy-Bold"; }
      @media screen and (max-width: 767px) {
        main .s-question .col-btn {
          padding: 20px 105px 20px 25px;
          line-height: 24px; } }
      @media screen and (max-width: 320px) {
        main .s-question .col-btn {
          padding-right: 65px; } }
      main .s-question .col-btn:hover {
        background: #3964FC;
        color: white; }
        main .s-question .col-btn:hover .line {
          background-color: white; }
      main .s-question .col-btn[aria-expanded="true"] {
        background: #3964FC;
        color: white;
        border-radius: 15px 15px 0 0; }
        main .s-question .col-btn[aria-expanded="true"] .line {
          background-color: white; }
          main .s-question .col-btn[aria-expanded="true"] .line--vertical {
            transform: rotate(180deg); }
    main .s-question .col-card {
      padding: 26px 60px 26px 32px;
      background: #F2F3F6;
      font-size: 16px;
      line-height: 24px;
      border-radius: 0 0 15px 15px; }
  main .s-question .line {
    background-color: black;
    width: 25px;
    height: 4px;
    display: inline-block;
    position: absolute;
    right: 25px;
    border-radius: 15px;
    top: 35px;
    transition: 0.3s all ease; }
    main .s-question .line--vertical {
      transform: rotate(90deg); }
main .s-team {
  padding-bottom: 67px; }
  main .s-team .title {
    text-align: center; }
  main .s-team .subtitle {
    text-align: center;
    margin-bottom: 15px; }
    @media (max-width: 991px) {
      main .s-team .subtitle {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      main .s-team .subtitle {
        margin-bottom: 5px; } }
  main .s-team .text {
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      main .s-team .text {
        margin-bottom: 10px; } }
  main .s-team .carousel-wrap {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      main .s-team .carousel-wrap {
        flex-direction: column;
        align-items: center; } }
  main .s-team .carousel-wrapper {
    cursor: pointer; }
    @media (max-width: 1199px) {
      main .s-team .carousel-wrapper {
        max-width: 300px; } }
    @media (max-width: 991px) {
      main .s-team .carousel-wrapper {
        max-width: 220px; } }
    main .s-team .carousel-wrapper:hover .carousel-content {
      opacity: 1;
      z-index: 1; }
    main .s-team .carousel-wrapper:hover .carousel-img {
      opacity: 0.85; }
    @media (max-width: 1199px) {
      main .s-team .carousel-wrapper .text {
        min-height: 48px; } }
    @media screen and (max-width: 767px) {
      main .s-team .carousel-wrapper .text {
        min-height: unset; } }
  main .s-team .carousel-img {
    max-width: 100%;
    margin-bottom: 36px;
    transition: 0.3s all ease; }
    @media screen and (max-width: 767px) {
      main .s-team .carousel-img {
        margin-bottom: 15px; } }
  main .s-team .carousel-content {
    transition: 0.3s all ease;
    display: flex;
    justify-content: center;
    opacity: 0;
    z-index: -1; }
    @media screen and (max-width: 767px) {
      main .s-team .carousel-content {
        opacity: 1;
        z-index: 2;
        margin-bottom: 20px; } }
main .s-license {
  padding-bottom: 60px; }
  main .s-license .title {
    margin-bottom: 15px; }
  main .s-license .subtitle {
    margin-bottom: 15px; }
  main .s-license .text {
    margin-bottom: 40px;
    color: #3F3D56;
    font-weight: 700; }
    main .s-license .text--last {
      margin-bottom: 25px; }
main .s-privacy {
  padding-bottom: 60px; }
  main .s-privacy .subtitle {
    margin-bottom: 15px; }
  main .s-privacy .text {
    margin-bottom: 40px;
    color: #3F3D56;
    font-weight: 700; }
    main .s-privacy .text--last {
      margin-bottom: 25px; }
main .s-vacancies {
  padding-top: 40px;
  padding-bottom: 95px; }
  main .s-vacancies .subtitle {
    margin-bottom: 26px; }
  main .s-vacancies .text {
    margin-bottom: 27px;
    padding-left: 15px;
    border-left: 5px solid #3964FC; }
    main .s-vacancies .text--vacancies {
      max-width: 470px;
      margin-bottom: 46px;
      padding-left: 0;
      border: none; }
    main .s-vacancies .text--link {
      color: #3964FC; }
  main .s-vacancies .row {
    justify-content: space-between; }
    main .s-vacancies .row-wrap {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 15px; }
      @media screen and (max-width: 767px) {
        main .s-vacancies .row-wrap {
          flex: 0 0 100%;
          max-width: 100%; } }
  main .s-vacancies .col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 40px 27px 10px 33px;
    margin-bottom: 45px;
    background-color: #F2F3F6;
    border-radius: 15px;
    height: max-content; }
    @media screen and (max-width: 767px) {
      main .s-vacancies .col {
        padding: 30px 24px 10px; } }
  main .s-vacancies .nav {
    justify-content: center; }
    main .s-vacancies .nav-item {
      margin: 0 5px;
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: #F2F3F6;
      color: #C0C4D4;
      transition: 0.3s all ease; }
      main .s-vacancies .nav-item.active {
        background-color: #3964FC;
        color: white; }
      main .s-vacancies .nav-item:hover {
        opacity: 0.75; }
main .s-project {
  padding-bottom: 40px; }
  main .s-project .subtitle {
    margin-bottom: 13px; }
  main .s-project .row {
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      main .s-project .row {
        padding: 0 15px; } }
  main .s-project .col {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
    align-items: flex-start;
    padding: 40px 35px 44px;
    margin-bottom: 43px;
    background-color: #F2F3F6;
    border-radius: 15px;
    border: 2px solid #F2F3F6;
    transition: 0.3s all ease; }
    @media (max-width: 991px) {
      main .s-project .col {
        flex: 0 0 48.3333333333%;
        max-width: 48.3333333333%;
        padding: 30px 20px; } }
    @media screen and (max-width: 767px) {
      main .s-project .col {
        flex: 0 0 100%;
        max-width: 100%; } }
    main .s-project .col:hover {
      border: 2px solid #3964FC; }
    main .s-project .col-header {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px; }
    main .s-project .col-year {
      padding: 5px 8px;
      background-color: white;
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      border-radius: 5px;
      text-align: center; }
    main .s-project .col-inner {
      border-radius: 5px;
      display: flex;
      align-items: center; }
      main .s-project .col-inner--link {
        background-color: white;
        padding: 5px 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        transition: 0.3s all ease; }
        main .s-project .col-inner--link--first {
          border-radius: 5px 0 0 5px; }
        main .s-project .col-inner--link--last {
          border-radius: 0 5px 5px 0; }
        main .s-project .col-inner--link:hover {
          background-color: rgba(255, 255, 255, 0.3);
          opacity: 0.75; }
    main .s-project .col-img {
      max-width: 100%;
      margin-bottom: 38px; }
    main .s-project .col .text {
      margin-bottom: 25px;
      font-size: 16px; }
    main .s-project .col .btn {
      max-width: 280px;
      background-color: unset;
      color: #3F3D56; }
      @media screen and (max-width: 767px) {
        main .s-project .col .btn {
          max-width: 100%; } }
      main .s-project .col .btn:hover {
        color: white;
        background-color: #3964FC;
        border-color: #3964FC; }

.footer .title {
  margin-top: -10px;
  line-height: 34px; }
.footer .subtitle {
  margin-bottom: 13px; }
@media screen and (max-width: 767px) {
  .footer .text {
    font-size: 12px;
    line-height: 20px; } }
.footer .col--main {
  flex: 0 0 25%;
  max-width: 25%; }
  @media (max-width: 991px) {
    .footer .col--main {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 70px;
      order: -2; } }
  @media screen and (max-width: 767px) {
    .footer .col--main {
      padding-top: 3px;
      padding-right: 20px; } }
.footer .col--user {
  align-items: flex-start;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }
  @media (max-width: 991px) {
    .footer .col--user {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 767px) {
    .footer .col--user {
      order: -1; } }
.footer .col--contact {
  align-items: flex-start;
  flex: 0 0 25%;
  max-width: 25%; }
  @media (max-width: 991px) {
    .footer .col--contact {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 20px;
      order: -1; } }
  @media screen and (max-width: 767px) {
    .footer .col--contact {
      flex: 0 0 100%;
      max-width: 100%;
      order: 0; } }
.footer .col--callback {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }
  @media (max-width: 991px) {
    .footer .col--callback {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 767px) {
    .footer .col--callback {
      flex: 0 0 100%;
      max-width: 100%; } }
.footer .col--social {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 20px 0 40px;
  text-align: center; }
.footer .col--copyright {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 30px;
  text-align: center; }
.footer .form {
  margin-top: 25px;
  display: flex; }
  .footer .form-input {
    flex: 1 0 0;
    padding: 17px 20px 17px 22px;
    background-color: #F2F3F6;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #818AA9;
    z-index: 0;
    outline: none !important; }
  .footer .form .btn {
    max-width: 118px;
    margin-left: -30px;
    z-index: 2; }
.footer .link--adress {
  margin-bottom: 30px;
  padding-right: 50px; }
  @media (max-width: 991px) {
    .footer .link--adress {
      padding-right: 0;
      margin-bottom: 15px; } }

body {
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
