@font-face {
    font-family: Advert;
    /* Гарнитура шрифта */
    src: url('../fonts/advert.ttf');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Oswald Light;
    /* Гарнитура шрифта */
    src: url('../fonts/Oswald-ExtraLight.ttf');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Oswald Medium;
    /* Гарнитура шрифта */
    src: url('../fonts/Oswald-Medium.ttf');
    /* Путь к файлу со шрифтом */
}

.header_subtitle {
    font-family: Oswald Light;
    color: #a6a6a6;
    font-size: 24px;
}

.header_text {
    max-width: 290px;
    font-family: Oswald Medium;
    color: #9e9e9e;
    font-size: 24px;
    text-align: right;
    position: absolute;
    bottom: -25px;
    right: 25px;
    line-height: 23px;
}

.header_text span:nth-child(1) {
    margin-right: 15px;
}

.header_text span:nth-child(2) {
    margin-right: -15px;
}

.header {
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.bg {
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.header_title {
    font-family: Advert;
    color: #7bb235;
    font-size: 84px;
    padding: 15px 0;
}

.main_img {
    width: 148px;
    height: 148px;
    margin-top: -5px;
    margin-left: -5px;
}

.main_orange,
.main_red,
.main_pink,
.main_grey,
.main_blue,
.main_black,
.main_brown,
.main_aqua {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.main_iner {
    position: relative;
    width: 150px;
    height: 150px;
    border: 8px solid #7bb235;
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.footer_row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.line {
    position: absolute;
}

.line.one {
    max-width: 390px;
    left: 140px;
    top: 5px;
}

.line.two {
    max-width: 190px;
    right: 165px;
    top: 70px;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.line.three {
    max-width: 280px;
    bottom: -50px;
    left: 128px;
}

.line.four {
    max-width: 120px;
    top: 70px;
    right: 155px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.line_orange,
.line_red,
.line_pink,
.line_blue,
.line_aqua,
.line_brown,
.line_grey,
.line_black {
    opacity: 0;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #7eb339;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.circle_block {
    width: 16px;
    height: 16px;
    background: #7db12e;
    border-radius: 50%;
}

.circle.one {
    left: 535px;
    top: 205px;
}

.circle.two {
    right: 372px;
    top: 300px;
}

.circle.three {
    left: 405px;
    top: 180px;
}

.circle.four {
    top: 180px;
    right: 310px;
}

.main_iner__brd {
    position: relative;
    width: 134px;
    height: 134px;
    border: 2px solid #58961e;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.main_row {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
    margin-top: -50px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box {
    max-width: 250px;
    top: 32%;
    position: absolute;
    left: 25%;
}

.chair {
    max-width: 232px;
    top: 16%;
    position: absolute;
    left: 43%;
}

.chair.green {
    opacity: 1;
}

.chair.orange,
.chair.red,
.chair.pink,
.chair.aqua,
.chair.blue,
.chair.brown,
.chair.grey,
.chair.black {
    opacity: 0;
}

.main_col {
    max-width: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.main_title {
    margin-bottom: 0;
    font-size: 16px;
    color: #7bb235;
    text-transform: uppercase;
    padding-top: 15px;
}

.main_subtitle {
    font-size: 14px;
    color: #000000;
}

.main_wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.footer_col {
    max-width: 260px;
}

.footer_iner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 160px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 76px;
}

.wrap_icon {
    background-color: #7db12e;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.footer_icon {
    max-width: 30px
}

.footer_iner__title {
    font-size: 15px;
    color: #7bb235;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer_iner__text {
    font-size: 13px;
    color: #000;
    margin-bottom: 0;
}

.footer_center__wrap {
    padding-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_colors {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.colors_text {
    color: #959595;
    font-size: 17px;
    padding: 15px 0;
}

.footer_btn {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    padding: 25px;
    max-width: 370px;
    width: 100%;
    background: #91ca00;
    border: 4px solid #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(194, 194, 194, 1);
    box-shadow: 0px 0px 10px 1px rgba(194, 194, 194, 1);
    opacity: 0.8;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
     outline: none;
}

.footer_btn:hover {
    opacity: 1;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.colors_wrap img {
    cursor: pointer;
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form_input {
    max-width: 300px;
    padding: 15px;
    border: 1px solid #898989;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
}

.modal-body {
    padding: 40px 0;
}

.modal_btn {
    font-size: 18px;
    max-width: 230px;
    width: 100%;
    border: 2px solid #fff;
    background: #90c900;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 23px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 23px -12px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}
.modal_btn:hover {
    color: #fff;
    text-decoration: none;
}

@media all and (max-width : 1024px) {
    .line.one {
        max-width: 350px;
        top: 20px;
    }

    .circle.one {
        left: 495px;
        top: 200px;
    }

    .line.two {
        right: 155px;
        top: 80px;
    }

    .circle.two {
        top: 310px;
        right: 362px;
    }

    .line.four {
        max-width: 90px;
        top: 80px;
        right: 145px;
    }

    .circle.four {
        top: 160px;
        right: 260px;
    }

    .footer_col {
        padding: 0;
    }
}

@media all and (max-width : 768px) {
    .footer_order {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }

    .footer_row {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer_col {
        max-width: 230px;
    }

    .box {
        top: 42%;
        max-width: 180px;
    }

    .chair {
        max-width: 220px;
        left: 37%;
    }

    .line {
        display: none;
    }

    .header_title {
        font-size: 74px;
    }

    .header_text {
        max-width: 190px;
        right: 134px;
        font-size: 16px;
    }

    .circle.one {
        left: 390px;
    }

    .circle.two {
        right: 300px;
    }

    .circle.three {
        left: 425px;
        top: 140px;
    }

    .circle.four {
        top: 100px;
        right: 300px;
    }
}

@media all and (max-width : 425px) {
    .main_wrap {
        max-width: 200px;
        width: 100%;
    }
    .header_subtitle {
        font-size: 18px;
    }

    .main_row {
        margin-top: 30px;
    }

    .header_text {
        right: 75px;
    }

    .box {
        display: none;
    }

    .chair {
        position: relative;
        left: auto;
        max-width: 140px;
        width: 100%;
        height: 140px;
    }

    .main_row {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .chair.orange,
    .chair.red,
    .chair.pink,
    .chair.aqua,
    .chair.blue,
    .chair.brown,
    .chair.grey,
    .chair.black {
        display: none;
    }

    .main_col.one {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
    }

    .main_col.two {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
    }

    .circle {
        display: none;
    }

    .colors_wrap {
        display: none;
    }

    .header_text {
        right: 45px;
    }

    .footer_btn {
        max-width: 280px;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }
}

@media all and (max-width : 375px) {
    .header_title {
        font-size: 54px;
    }

    .main_iner {
        position: relative;
        width: 110px;
        height: 110px;
        border: 8px solid #7bb235;
        border-radius: 50%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .main_iner__brd {
        position: relative;
        width: 94px;
        height: 94px;
        border: 2px solid #58961e;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
    }

    .main_img {
        width: 108px;
        height: 108px;
        margin-top: -5px;
        margin-left: -5px;
    }

    .main_wrap {
        max-width: 140px;
    }

    .main_subtitle {
        padding: 0 10px;
    }
}

@media all and (max-width : 320px) {
    .header_text {
        right: 15px;
    }

    .header_subtitle {
        font-size: 16px;
        text-align: center;
    }
}
