/*Heeader*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800');

header {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li.active {
    background-color: #ffdf00;
}

.navbar-toggler-icon {
    background: none;
    width: auto;

}

.nav-tabs .nav-link.active {
    background: #ffdf00;
    border: none;
    color: #000;
}

.navbar-toggler {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 12px;
}

.nav-tabs .nav-link {
    color: #0a1f35;
    background: #fff;
    border: none;
    border-radius: 1px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(140, 140, 140, 0.4);
    box-shadow: 0px 1px 3px 0px rgba(140, 140, 140, 0.4);
}

.nav-tabs .nav-link:hover {
    background: #ffef7d;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.nav-tabs {
    border: none;
    width: 100%;
}

.nav-tabs .nav-item {
    margin-right: 8px;
}

.carousel-control-next-icon {
    background-image: url(../img/next.png);
}

.carousel-control-prev-icon {
    background-image: url(../img/prev.png);
}

.carousel-control-prev {
    width: 40px;
    left: -40px;
    height: 40px;
    top: 30%;
}

.carousel-control-next {
    width: 40px;
    right: -40px;
    height: 40px;
    top: 30%;
}



.header_logo {
    max-width: 260px;
    width: 100%;
    margin: 15px 10px 0 0;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}


.header_row {
    max-width: 625px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-collapse {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_wrap {
    padding: 0;
}

.header_nav {
    padding: 44px 0;
    max-width: 200px;
    width: 100%;
    text-align: center;
    border: 1px solid #f3f6f8;
    border-bottom: 0;
    border-top: 0;
    color: #65696e;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: .5s all ease-out;
    -o-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

.header_nav:hover {
    background: #65696e;
    color: #fff;
    -webkit-transition: .5s all ease-out;
    -o-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border: 1px solid #65696e;
    border-bottom: 0;
    border-top: 0;
}

.header_butt {
    border: 1px solid #ffdf00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-decoration: none !important;
    margin-left: 2%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 5px 1px rgba(224, 224, 224, 1);
}

.header_butt__image {
    background: #ffdf00;
}

.header_btn {
    border: 0;
    background: none;
    font-size: 13px;
    width: 210px;
    height: 44px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.header_btn:hover {
    background: #ffdf00;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

/*Header close*/

/*Title style*/
.main_title {
    padding: 110px 0 25px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main_title__wrap {
    position: relative;
}

.main_title__brd {
    position: absolute;
    width: 60px;
    height: 2px;
    background: #313a44;
    left: -80px;
    top: 50%;
}

.main_title__text {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #313a44;
}

.main_title__iner {
    padding: 20px 0 0 0;
    color: #0a1f35;
}

/*Title close style*/



/*Main content*/
.s-exam {
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
}

.exam_wrapper {
    padding: 175px 0 160px 0;
}

.exam_col__number {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0;
}

.exam_col__number_brd {
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    background: #fff;
    left: -80px;
    top: 50%;
}

.exam_col__title {
    font-weight: bold;
    font-size: 44px;
    margin: 0;
    padding: 25px 0;
}

.exam_col__text {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;
}

.exam_col__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #ffdf00;
    max-width: 260px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

}

.exam_col__btn:hover {
    -webkit-box-shadow: 0px 2px 5px -1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 5px -1px rgba(255, 255, 255, 0.6);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.exam_indicators {
    margin: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    bottom: 60px;
    left: 15px;
}

.exam_indicators__link {
    background-color: #fff !important;
    width: 12px !important;
    height: 12px !important;
    margin-right: 8px !important;
}

.exam_indicators__link.active {
    background-color: #ffdf00 !important;
}

.btn_image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 47px;
    height: 42px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ffdf00;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-decoration: none !important;
}

.btn_image:hover {
    text-decoration: none !important;
}

.btn_image img {
    width: 16px;
    height: 11px;
}

.btn_text {
    width: 90%;
    text-align: center;
    color: #fff;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    padding: 9px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn_text:hover {
    background: #ffdf00;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}



.s-service {
    background: #f3f6f8;
    padding-bottom: 100px;
}

.service_row {
    padding-bottom: 115px;
}

.service_row__image {
    height: 85px;
}

.service_row__col {
    background: #fff;
    padding: 37px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.4);
    box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.4);
}

.service_row__title {
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0 18px 0;
    color: #0a1f35;
}

.service_row__brd {
    width: 60px;
    height: 2px;
    background: #313a44;
}

.service_row__text {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    padding: 22px 0;
}

.service_row__span {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 25px;
}

.service_btn {
    border-radius: 1px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    color: #0a1f35;
    text-align: center;
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 25px;
    background: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(191, 191, 191, 0.47);
    box-shadow: 0px 1px 5px 1px rgba(191, 191, 191, 0.47);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    border-radius: 2px;
}

.service_btn:hover {
    background: #ffdf00;
    color: #393939;
    -webkit-box-shadow: 0px 1px 9px 0px rgba(140, 140, 140, 1);
    box-shadow: 0px 1px 9px 0px rgba(140, 140, 140, 1);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

}

.main_btn {
    border: 2px solid #ffdf00;
    width: 100%;
    max-width: 218px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_btn:hover {
    -webkit-box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_block {
    background: #ffdf00;
}

.main_btn__active {
    width: 100%;
    background: none;
    border: none;
    color: #0a1f35;
    font-size: 13px;
    font-weight: 500;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_btn__active:hover {
    background: #ffdf00;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.s-doing {
    padding-bottom: 100px;
}

.doing_col__wrap {
    border: 1px solid #f1f3f4;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
}

.doing_col__title {
    font-size: 20px;
    padding: 25px 0 14px 0;
    font-weight: bold;
}

.doing_col__brd {
    width: 60px;
    height: 2px;
    background: #313a44;
}

.doing_col__text {
    padding: 25px 0 0 0;
    font-size: 16px;
    max-width: 330px;
    width: 100%;
}


.s-work {
    background: #f3f6f8;
    padding-bottom: 100px;
}

.work_col__slide {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.work_col__tag {
    width: 100%;
    max-width: 250px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

}

.work_col__image img {
    width: 100%;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
}

.work_col__wrapper {
    background: #fff;
    margin: 0 15px 15px 15px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.4);
    box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.4);
}

.work_col__wrap {
    padding: 25px 25px 10px 25px;
}

.work_col__iner {
    max-width: 380px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.work_col__iner h2 {
    font-size: 26px;
    margin: 0;
}

.work_col__iner img {
    width: 30px;
    height: 20px;
}

.work_col__span {
    padding: 25px 0;
    margin: 0;
    font-size: 14px;
    color: #989ba0;
    font-weight: 400;
}

.work_col__text {
    color: #010101;
    font-size: 16px;
    font-weight: 500;
}

.work_column {
    padding: 10px 25px 25px 25px;
}

.work_column__title {
    color: #0a1f35;
    font-size: 20px;
    font-weight: bold;
}

.work_column__text {
    color: #7b8083;
    font-size: 16px;
    font-weight: 400;
}

.work_col__footer {
    padding: 25px;
    margin-top: 30px;
    background: #ffffff;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
    box-shadow: 1px 3px 3px 0px rgba(140, 140, 140, 0.3);
}

.work_col__butt {
    max-width: 250px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ffdf00;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.work_col__butt:hover {
    -webkit-box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.work_col__footer_title {
    padding: 10px 0;
}

.work_footer__btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    max-width: 384px;
    margin: 0 auto;
    color: #0a1f35;
    text-align: center;
    padding-top: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.work_row__one {
    overflow: hidden;
}

.s-order {
    padding-bottom: 100px;
}

.order_row {
    position: relative;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.order_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 40px;
}

.order_col__title {
    padding-top: 25px;
    font-size: 20px;
    color: #0a1f35;
    max-width: 250px;
    width: 100%;
    height: 75px;
}

.order_col__brd {
    margin: 0 0 20px 0;
    width: 60px;
    height: 2px;
    background: #0a1f35;
}

.order_col__text {
    font-size: 16px;
    color: #0a1f35;
    max-width: 250px;
    width: 100%:
}

.order_but {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*Close main content*/



/*Footer content*/
.f-client {
    padding-bottom: 100px;
    background: #f3f6f8;
}

.client_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
}

.client_col {
    width: 170px;
    height: 123px;
    background: url(../img/client-one-dark.png) center center no-repeat;
    background-size: cover;
    border: 1px solid #f3f6f8;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    cursor: pointer;
}

.client_col:hover {
    background: url(../img/client-one.png) center center no-repeat;
    background-size: cover;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    cursor: pointer;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

/*
div:nth-child(1).client_col {
    width: 170px;
    height: 123px;
    background: url(../img/client-one-dark.png) center center no-repeat;
    background-size: cover;
    border: 1px solid #f3f6f8;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

div:nth-child(1).client_col:hover {
    background: url(../img/client-one.png) center center no-repeat;
    background-size: cover;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
*/

.footer {
    padding: 100px 0;
}

.footer_row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_col__logo {
    margin-top: -10px;
    width: 260px;
    padding-bottom: 40px;
}

.footer_col.end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.footer_col__text {
    color: #262626;
    font-size: 13px;
}

.footer_col__form {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 35px;
}

.footer_col__input {
    width: 100%;
    max-width: 310px;
    border: 1px solid #dee1e7;
    font-size: 12px;
    padding: 15px 0 15px 20px;
}

.footer_col__iner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_col__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_col__title {
    font-size: 14px;
    color: #0a1f35;
    font-weight: bold;
}

.footer_col__link {
    color: #232f3c;
    font-size: 13px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.footer_col__link:hover {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}

.footer_col__link_out {
    font-size: 14px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.footer_col__link_out:hover {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}


.footer_col__phone {
    max-width: 220px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.footer_col__phone:hover {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    transform: scale(1.08, 1.08);
}

.footer_col__phone img {
    margin-right: 5px;
}

.footer_col__phone_span {
    color: #0a1f35;
    font-weight: bold;
    font-size: 18px;
}

/*Close footer content*/

/*Modal window*/
.modal-content {
    max-width: 400px;
    width: 100%;
}

.modal_wrap {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal_wrap__title {
    font-size: 20px;
}

.modal_brd {
    width: 60px;
    height: 2px;
    background: #000;
    margin: 10px 0;
}

.modal_wrap__text {
    font-size: 16px;
}

.modal_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_input {
    padding: 10px;
    font-size: 12px;
    color: #d8d9db;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 1px solid #d8d9db;
}
.modal_btn {
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    border: 2px solid #ffdf00;
    background: #fff;
    transition: .5s all ease;
    font-weight: 500;
}
.modal_btn:hover {
    background: #ffdf00;
    transition: .5s all ease;
}


