@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy-Light.woff2) format("woff2")
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy-Regular.woff2) format("woff2")
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy-Bold.woff2) format("woff2")
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline
}

a {
    text-decoration: none
}

a:active,
a:hover {
    outline: 0
}

li,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

*,
:after,
:before,
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus {
    outline: 0
}

audio,
img,
video {
    max-width: 100%;
    height: auto
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

iframe {
    border: 0
}

textarea {
    resize: none;
    overflow: auto;
    vertical-align: top;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

button,
input,
select,
textarea {
    outline: none;
    border: none;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0;
    text-align: left
}

.text {
    color: #000;
    font-family: Gilroy-Regular;
    font-size: 18px
}

.text--small {
    font-size: 14px;
    text-align: center
}

.link {
    font-family: Gilroy-Regular;
    text-decoration: none !important;
    -webkit-transition: all .3s ease;
    -o-transition: .3s all ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.link,
.link:hover {
    color: #fff
}

.link-icon {
    margin-right: 10px
}

.link--phone {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 700
}

.link--phone:hover {
    opacity: .7
}

.link--mail {
    font-size: 16px
}

.link--mail:hover {
    opacity: .7
}

.link--small {
    color: #f3d05b
}

.link--small:hover {
    color: #f3d05b;
    opacity: .7
}

.title {
    color: #000;
    font-family: Gilroy-Regular;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.title-img {
    margin-top: 15px
}

.subtitle {
    color: #fff;
    font-size: 22px
}

.btn,
.subtitle {
    font-family: Gilroy-Bold
}

.btn {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 5px;
    background-color: #ffb700;
    width: 100%;
    -webkit-box-shadow: 0 0 12px -1px rgba(243, 207, 91, .66);
    box-shadow: 0 0 12px -1px rgba(243, 207, 91, .66);
    -webkit-transition: all .3s ease;
    -o-transition: .3s all ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.btn:hover {
    -webkit-box-shadow: 0 4px 23px rgba(0, 0, 0, .27);
    box-shadow: 0 4px 23px rgba(0, 0, 0, .27)
}

.btn-wrapper {
    position: relative
}

.btn-wrapper--catalog {
    margin: 0 auto;
    max-width: 270px
}

.btn-wrapper--form {
    max-width: 280px;
    width: 100%
}

.btn-wrapper--footer {
    max-width: 300px;
    width: 100%
}

.btn-wrapper--tool {
    width: 100%
}

.btn-image {
    position: absolute;
    left: 20px;
    top: -20px
}

.btn--header {
    max-width: 220px
}

.btn--product {
    max-width: 230px;
    -webkit-box-shadow: 0 4px 23px rgba(0, 0, 0, .27);
    box-shadow: 0 4px 23px rgba(0, 0, 0, .27)
}

.btn--product:hover {
    -webkit-box-shadow: 0 0 17px -1px hsla(0, 0%, 42%, .73);
    box-shadow: 0 0 17px -1px hsla(0, 0%, 42%, .73)
}

.btn--catalog {
    max-width: 280px;
    -webkit-box-shadow: 0 4px 23px rgba(0, 0, 0, .27);
    box-shadow: 0 4px 23px rgba(0, 0, 0, .27)
}

.btn--catalog:hover {
    -webkit-box-shadow: 0 0 17px -1px hsla(0, 0%, 42%, .73);
    box-shadow: 0 0 17px -1px hsla(0, 0%, 42%, .73)
}

.btn--map {
    max-width: 100%;
    color: #fff
}

.btn--footer {
    max-width: 300px
}

.btn--modal,
.btn--tool,
.input {
    max-width: 280px
}

.input {
    color: #242424;
    font-family: Gilroy-Regular;
    font-size: 14px;
    font-weight: 400;
    background-color: hsla(0, 0%, 100%, .6);
    padding: 16px;
    border-radius: 5px;
    width: 100%
}

.modal-content {
    background-color: #fff;
    border-radius: 5px
}

.modal-header {
    border: none;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 10px
}

.modal .subtitle {
    padding-bottom: 20px
}

.modal .title {
    font-size: 30px;
    color: #000;
    text-align: center
}

.modal .text {
    color: #000;
    padding: 20px
}

.modal .form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.modal .input {
    margin-bottom: 15px;
    border: 1px solid #888
}

header .nav {
    z-index: 2;
    padding-top: 28px;
    position: relative
}

header .nav .text {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

header .nav .text--logo {
    padding-top: 5px;
    font-size: 13px
}

header .nav .link--phone {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

header .nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    scroll-margin: 0
}

header .nav #navContainer {
    display: none
}

header .nav-close {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    display: none
}

header .nav-navbar {
    display: none;
    margin: 15px
}

header .nav-icon {
    margin-right: 10px
}

header .nav-logo {
    -webkit-transition: all .3s ease;
    -o-transition: .3s all ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none !important;
    padding-right: 80px
}

header .nav-logo--sm {
    display: none
}

header .nav-logo:hover {
    opacity: .8
}

header .nav-wrap {
    padding-right: 90px;
    text-align: right
}

header .nav-wrap--two {
    padding-right: 50px
}

main .s-tool {
    margin-top: -101px;
    padding: 264px 0 200px;
    background: url(../img/main-bg.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden
}

main .s-tool-img {
    position: absolute;
    bottom: -205px;
    right: 33%
}

main .s-tool .container {
    position: relative
}

main .s-tool .title {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    font-size: 50px;
    color: #fff;
    padding: 0 0 34px
}

main .s-tool .subtitle {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    padding-bottom: 24px;
    font-size: 24px
}

main .s-tool .subtitle--color {
    color: #ffb700
}

main .s-tool .text {
    color: #fff;
    font-weight: 700;
    padding-right: 70px;
}

main .s-tool .input {
    margin-bottom: 24px;
    background: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 0 14px 5px 0
}

main .s-tool .btn {
    margin-bottom: 15px
}

main .s-tool .row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

main .s-tool .col-icon {
    margin-right: 20px
}

main .s-tool .col-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 400px;
    margin-bottom: 17px
}

main .s-tool .col-wrap--two {
    padding-right: 40px
}

main .s-tool .form {
    max-width: 200px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative
}

main .s-tool .form-img {
    position: absolute;
    bottom: -100px;
    left: -30px
}

main .s-help {
    padding: 57px 0 102px;
    background-color: #fafafa
}

main .s-help .title {
    padding-bottom: 51px
}

main .s-help .text {
    font-size: 16px;
    font-weight: 700
}

main .s-help .col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center
}

main .s-help .col-img {
    margin-bottom: 30px
}

main .s-products {
    background: url(../img/bg-product.jpg) 50% no-repeat;
    background-size: cover;
    padding: 40px 0 90px
}

main .s-products .title {
    max-width: 390px;
    font-size: 24px;
    padding: 22px 40px;
    background-color: #ffb700;
    margin: -80px auto 0
}

main .s-products .subtitle {
    padding-bottom: 40px;
    font-size: 30px;
    text-align: left
}

main .s-products .subtitle--left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%
}

main .s-products .subtitle--right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    color: #ffb700
}

main .s-products .text {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    text-align: left;
    overflow: hidden
}

main .s-products .text span {
    display: block;
    white-space: nowrap;
    margin-right: 10px
}

main .s-products .text--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

main .s-products .text--left:after {
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 15px
}

main .s-products .text--price {
    color: #ffb700;
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%
}

main .s-products .row {
    margin-top: 80px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

main .s-products .btn {
    max-width: 380px;
    margin: 0 auto
}

main .s-products .col {
    text-align: center
}

main .s-products .col--bot {
    margin-top: 70px;
    text-align: center
}

main .s-products .col-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

main .s-free {
    padding: 25px 0;
    background-color: #da251d
}

main .s-free .title {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: inherit
}

main .s-free .title--free {
    text-transform: uppercase;
    color: #ffb700
}

main .s-free .text {
    padding-top: 50px;
    text-align: center;
    color: #fff
}

main .s-free .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 15px
}

main .s-map {
    position: relative;
    padding-bottom: 130px
}

main .s-map-maps {
    position: absolute;
    z-index: 0
}

main .s-map .container {
    position: relative;
    padding-top: 94px;
    z-index: 2
}

main .s-map .row {
    margin: 0 0 10px;
    padding: 38px 38px 50px;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px
}

main .s-map .title {
    font-size: 25px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 20px
}

main .s-map .text {
    padding: 0 20px 20px 0
}

main .s-map .input {
    background-color: #fff;
    padding-left: 50px;
    margin-bottom: 10px;
    max-width: 100%
}

main .s-map .form {
    max-width: 430px;
    width: 100%
}

main .s-map .form-wrapper {
    position: relative
}

main .s-map .form-icon {
    position: absolute;
    left: 18px;
    top: 12px
}

footer .s-footer {
    background-color: #242424;
    padding: 61px 0 30px
}

footer .s-footer--line {
    height: 2px;
    width: 100%;
    background-color: #323232
}

footer .s-footer .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

footer .s-footer .title {
    color: #fff;
    font-size: 25px;
    padding-bottom: 38px;
    text-align: center
}

footer .s-footer .subtitle {
    text-align: center
}

footer .s-footer .text {
    color: #fff;
    padding-top: 10px;
    text-align: center
}

footer .s-footer .link {
    margin-top: 15px
}

footer .s-footer .input {
    margin: 0 5px
}

footer .s-footer .btn {
    margin-left: 5px
}

footer .s-footer .form {
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.modal .form,
.title,
footer .s-footer .container,
header .nav-wrap,
main .s-help .col,
main .s-tool .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

footer .s-footer .form,
main .s-products .col-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap
}

main .s-products .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

main .s-tool .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

main .s-products .col--bot {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (max-width:992px) {
    .text {
        font-size: 15px
    }

    main .s-tool {
        margin-top: -115px
    }

    main .s-tool .col-icon {
        max-width: 50px
    }

    main .s-tool .col-wrap {
        max-width: 100%
    }
}

@media (max-width:425px) {
    .text {
        font-size: 14px
    }

    .btn--tool {
        max-width: 270px
    }

    main .s-tool .title {
        font-size: 24px
    }

    main .s-help .col {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        -webkit-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        min-width: 100% !important;
        margin-bottom: 20px
    }

    main .s-products .subtitle {
        font-size: 20px
    }

    main .s-products .subtitle--left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        -webkit-flex: 0 0 60%;
        flex: 0 0 60%
    }

    main .s-products .subtitle--right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        -webkit-flex: 0 0 40%;
        flex: 0 0 40%
    }

    main .s-products .text {
        font-size: 14px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        -webkit-flex: 0 0 60%;
        flex: 0 0 60%
    }

    main .s-products .text--price {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        -webkit-flex: 0 0 40%;
        flex: 0 0 40%
    }

    main .s-free .title {
        font-size: 20px
    }

    main .s-free .text {
        padding-top: 20px
    }
}

@media (max-width:1200px) {
    .link--phone {
        font-size: 16px
    }

    header .nav {
        padding-top: 15px
    }

    header .nav .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    header .nav-logo {
        padding-right: 40px
    }

    header .nav-logo--image {
        max-width: 180px
    }

    header .nav-wrap {
        padding-right: 25px
    }

    header .nav-wrap--two {
        padding-right: 45px;
        max-width: 220px;
        width: 100%
    }

    main .s-tool {
        padding: 150px 0 100px
    }

    main .s-tool .title {
        font-size: 36px
    }
}

@media (max-width:768px) {
    .title {
        font-size: 30px
    }

    .btn {
        font-size: 14px;
        padding: 8px 5px
    }

    .btn-image {
        display: none
    }

    .btn--catalog {
        max-width: 270px
    }

    .btn--footer {
        max-width: 270px !important
    }

    .input {
        padding: 13px;
        max-width: 270px
    }

    header .nav .text--logo {
        font-size: 10px
    }

    header .nav-logo--image {
        max-width: 130px
    }

    main .s-tool .title {
        font-size: 30px;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center
    }

    main .s-tool .subtitle {
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center
    }

    main .s-tool .subtitle br {
        display: none
    }

    main .s-tool .row {
        padding: 0 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    main .s-tool .col {
        max-width: 100% !important;
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        -webkit-flex: 0 0 100% !important;
        flex: 0 0 100% !important
    }

    main .s-tool .col-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    main .s-tool .col-wrap--two {
        padding-right: 0
    }

    main .s-tool .form {
        margin-top: 20px;
        max-width: 300px
    }

    main .s-products .btn {
        max-width: 320px
    }
}

@media (max-width:500px) {
    .title {
        font-size: 24px
    }
}

@media (max-width:1024px) {
    .btn-wrapper {
        text-align: center
    }

    .btn--header {
        max-width: 200px
    }

    .btn--footer {
        max-width: 280px
    }

    header .nav {
        padding-top: 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    header .nav .container {
        display: none
    }

    header .nav #navContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        background: rgba(0, 0, 0, .8);
        padding: 30px 20px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        max-width: 100%;
        margin-top: -400px;
        -webkit-transition: all .3s ease;
        -o-transition: .3s all ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    header .nav-close,
    header .nav-navbar {
        display: block
    }

    header .nav-icon {
        margin-right: 5px
    }

    header .nav-logo--sm {
        display: block
    }

    header .nav-logo {
        padding: 10px
    }

    header .nav-wrap {
        padding: 0 0 10px
    }

    main .s-tool .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        -webkit-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }

    main .s-help .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    main .s-help .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        -webkit-flex: 0 0 33%;
        flex: 0 0 33%;
        min-width: 33%;
        margin-bottom: 20px
    }

    main .s-products .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%
    }

    footer .s-footer {
        padding-top: 110px
    }

    footer .s-footer .input {
        margin-bottom: 10px
    }

    footer .s-footer .btn {
        margin-left: 0
    }

    footer .s-footer .form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center
    }
}

@media (max-width:1439px) {

    main .s-tool-img,
    main .s-tool .form-img {
        display: none
    }
}

@media (max-width:375px) {
    main .s-products .text span {
        white-space: pre-wrap
    }

    main .s-products .text--left:after {
        display: none
    }
}
