button {
	outline: none !important;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.player {
	position: relative;
	max-width: 800px;
	width: 100%;
	margin: 40px auto;
	border: 1px solid grey;
	&-wrap {
		position: relative;
	}
	&-progress {
		width: 100%;
	}
	&-video {
		max-width: 800px;
		width: 100%;
	}
	&-play {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 45%;
		left: 45%;
		background: url("../img/play-button.svg") center center no-repeat;
		background-size: cover;
		cursor: pointer;
		border: none;
	}
	&-controls {
		padding: 10px 0;
	}
	&-track {
		margin-top: -20px;
		margin-bottom: 10px;
		z-index: 2;
		position: relative;
		&-range {
			display: none;
			width: 100%;
			margin: 0;
		}
	}
}

.popup {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.65);
	&.active {
		display: block;
	}
	&-wrap {
		margin: 140px auto 0;
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		border: 1px solid grey;
		background-color: #ffffff;
		text-align: center;
		@media all and (max-width : 425px) {
			max-width: 270px;
			margin-top: 40px;
		}
	}
	&-text {
		font-size: 20px;
		text-align: center;
		margin: 0;
		padding-bottom: 10px;
	}
	&-input {
		margin-bottom: 10px;
		padding: 5px;
		border: 1px solid gray;
		border-radius: 4px;
		font-size: 18px;
	}
	&-btn {
		width: 100px;
		padding: 10px;
		font-size: 18px;
		background-color: #66bdfe;
		border-radius: 4px;
		border: none;
		color: #fff;
		cursor: pointer;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	&-col {
		display: flex;
		width: max-content;
		flex: auto;
	}
	&-icon {
		border: none;
		width: 40px;
		height: 40px;
		margin: 0 15px;
		cursor: pointer;
		@media all and (max-width : 425px) {
			width: 20px;
			height: 20px;
		}
	}
	&-play {
		background: url("../img/play-button-2.svg") center center no-repeat;
		background-size: cover;
		&:fullscreen {
			background: url("../img/play-button-2.svg") center center no-repeat;
			background-size: cover;
		}
	}
	&-pause {
		display: none;
		background: url("../img/pause.svg") center center no-repeat;
		background-size: cover;
	}
	&-sound-on {
		display: none;
		background: url("../img/audio-speaker-on.svg") center center no-repeat;
		background-size: cover;
	}
	&-sound-off {
		background: url("../img/volume-off-indicator.svg") center center no-repeat;
		background-size: cover;
	}
	&-fullscreen {
		background: url("../img/full-screen.svg") center center no-repeat;
		background-size: cover;
	}
}

.time {
	display: flex;
	align-items: center;
	font-size: 24px;
	@media all and (max-width : 425px) {
		font-size: 18px;
	}
}