$primaryColor: #000000;
$secondaryColor: #ffffff;
$yellowColor: #fdd400;
$blueDarkColor: #bdcbd7;
$greyDarkColor: #303030;
$greyLightColor: #f1f2f2;
$redColor: #e74c3c;
$blackShadowColor: #222222;
$footerBorder: #43c7b3;