/*Fonts*/
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url('../fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: Prata-Regular;
    src: url('../fonts/Prata-Regular.ttf');
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0;
}

button,
input {
    outline: none !important;
}

/*Style header*/
.header_content__logo img {
    width: 184px;
    height: 66px;
}

.dentistry_wrap__icon {
    width: 43px;
    height: 46px;
    margin-top: 3px;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler-icon {
    background: url(../img/icon/menu.svg) center center no-repeat;
    background-size: cover;
}

.header_bg {
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.header_line {
    background-color: #fff;
    height: 2px;
    width: 100%;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 21px;
}

.header_content__location {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.location_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.location_wrap:nth-child(1) {
    margin-right: 54px;
}

.location_iner__text:nth-child(1) {
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.location_iner__text {
    margin-bottom: 0;
}

.location_wrap {
    padding-top: 16px;
}

.location_iner__text:nth-child(1) {
    font-family: Gilroy-Regular;
    font-size: 14px;
}

.location_iner__text:nth-child(2),
.location_iner__link {
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: #000;
}

.location_icon {
    margin-right: 15px;
}

.locaton_iner {
    line-height: 21px;
}

/*Mobile menu*/
.nav-mobile {
    width: 100%;
    position: relative;
    display: none;
}
.nav-mobile__close {
    line-height: 18px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    position: absolute;
    right: 0;
    top: 0;
}
.nav-mobile__menu {
    top: 35px;
    padding: 20px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    max-width: 270px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    padding: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    opacity: 0;
    -webkit-box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
    box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
}

/*Desctop menu*/
.navbar {
    padding: 0;
}

.navbar-nav {
    font-family: Gilroy-Medium;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-link {
    color: #000;
    padding: 7px 13px 7px 13px;
    font-size: 17px;
    border-radius: 5px;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}

.nav-link:hover {
    padding: 7px 13px 7px 13px;
    background: #e11c5f;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}

.dentistry {
    padding: 58px 0 110px 0;
}

.dentistry_title {
    font-size: 60px;
    font-family: Prata-Regular;
    padding-bottom: 22px;
}

.dentistry_subtitle {
    font-family: Gilroy-SemiBold;
    font-size: 21px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
    box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
    border-radius: 10px;
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.dentistry_bg {
    max-width: 360px;
    width: 100%;
    padding-bottom: 60px;
}

.dentistry_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 340px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 40px;
}

.dentistry_wrap__text {
    font-family: Gilroy-Regular;
    font-size: 18px;
    padding: 0 20px 0 20px;
    line-height: 23px;
}

.dentistry_btn {
    max-width: 360px;
    width: 100%;
    background: #dd195f;
    border: none;
    outline: none;
    font-family: Gilroy-SemiBold;
    font-size: 19px;
    color: #fff;
    padding: 25px 0;
    border-radius: 10px;
    -webkit-box-shadow: 6px 29px 86px -38px rgba(206, 17, 92, 0.72);
    box-shadow: 6px 29px 86px -38px rgba(206, 17, 92, 0.72);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

}

.btn_wrap {
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.green_one {
    width: 80px;
    height: 90px;
    position: absolute;
    bottom: -40px;
    left: -35px;
}

.green_two {
    width: 80px;
    height: 90px;
    top: -30px;
    right: -30px;
    position: absolute;
    z-index: -1;
}

.green_three {
    width: 80px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: -30px;
}

.dentistry_btn:hover {
    background: #cd115b;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 32px 82px -23px rgba(206, 17, 92, 0.72);
    box-shadow: 0px 32px 82px -23px rgba(206, 17, 92, 0.72);
}

.header_bg__footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Main style*/
.service {
    padding-top: 75px;
}

.service_title {
    font-family: Prata-Regular;
    text-align: center;
    padding-bottom: 60px;
}

.service_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 23px -4px rgba(179, 179, 179, 1);
    box-shadow: 0px 0px 23px -4px rgba(179, 179, 179, 1);
    border-radius: 5px;
    min-height: 175px;
}

.service_left {
    max-width: 200px;
    width: 100%;
    min-height: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/servicebg.jpg) center center no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.service_right {
    min-height: 160px;
    max-width: 370px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 29px 0 28px 26px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.service_right__title {
    min-height: 52px;
    font-family: Gilroy-Bold;
    font-size: 22px;
    color: #181818;
    padding-bottom: 16px;
}

.service_right__text {
    font-family: Gilroy-Regular;
    font-size: 15px;
    color: #181818;
    padding-bottom: 15px;
}

.service_right__btn {
    max-width: 100px;
    width: 100%;
    background: #fff;
    border: 1px solid #eb2161;
    color: #eb2161;
    padding: 15px 15px;
    font-size: 12px;
    font-family: Gilroy-SemiBold;
    border-radius: 5px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.service_right__btn:hover {
    background: #eb2161;
    color: #fff;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.info_row__image {
    width: 40%;
}

.info_bg {
    overflow: hidden;
    position: relative;
    margin-top: 120px;
    min-height: 780px;
    width: 100%;
    background: url(../img/infobg.jpg) center center no-repeat;
    background-size: cover;
}

.info_container {
    margin-top: -200px;
}

.info_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 36px 52px 36px 55px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
    box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
}

.info_col__title {
    font-family: Prata-Regular;
    font-size: 45px;
    color: #181818;
    padding-bottom: 44px;
}

.info_text {
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #181818;
    text-align: justify;
}

.info_text:nth-child(2) {
    padding-bottom: 28px;
}

.info_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding-top: 68px;
}

.info_row__col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 25%;
    -ms-flex: 0 25%;
    flex: 0 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_image {
    width: 79px;
    height: 79px;
}

.service_image.child {
    width: 57px;
    height: 85px;
}

.service_image.eye {
    width: 74px;
    height: 51px;
}

.info_row__text {
    padding-top: 30px;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 18px;
}

.question {
    margin-top: 110px;
    background: url(../img/questionbg.jpg) center center no-repeat;
    background-size: cover;
    padding: 155px 0;
    overflow: hidden;
}

.question_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.question_title {
    font-size: 45px;
    font-family: Prata-Regular;
    color: #181818;
    padding-bottom: 30px;
    text-align: center;
}

.question_subtitle {
    font-size: 20px;
    font-family: Gilroy-Regular;
    color: #181818;
    padding-bottom: 36px;
}

.question_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.modal_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

.modal-title {
    font-family: Gilroy-Bold;
    font-size: 26px;
    padding-bottom: 25px;
}

.modal-header {
    border: none;
}

.modal_wrapper {
    max-width: 360px;
    width: 100%;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    padding: 25px 10px 25px 50px;
    font-size: 15px;
    margin-bottom: 12px;
    font-size: 19px;
    font-family: Gilroy-Regular;
    color: #969696;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-box-shadow: 0px 0px 37px -16px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 37px -16px rgba(168, 168, 168, 1);
    margin-bottom: 25px;
}

.modal_wrapper:focus {
    border: 1px solid #c4c4c4;
    padding: 25px 10px 25px 55px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    color: #000;
    -webkit-box-shadow: 0px 0px 26px -11px rgba(48, 48, 48, 1);
    box-shadow: 0px 0px 26px -11px rgba(48, 48, 48, 1);
}

.modal_label {
    font-family: Gilroy-Regular;
    max-width: 260px;
    width: 100%;
    font-size: 11px;
    color: #333132;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 0 30px 0;
}

.question_iner {
    max-width: 360px;
    width: 100%;
    position: relative;
}

.question_iner__img {
    top: 31px;
    left: 25px;
    position: absolute;
}

.question_input {
    max-width: 360px;
    width: 100%;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    padding: 25px 10px 25px 50px;
    font-size: 15px;
    margin-bottom: 12px;
    font-size: 19px;
    font-family: Gilroy-Regular;
    color: #969696;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.question_input:hover {
    color: #000;
    -webkit-box-shadow: 0px 0px 37px -16px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 37px -16px rgba(168, 168, 168, 1);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.question_input:focus {
    border: 1px solid #c4c4c4;
    padding: 25px 10px 25px 55px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    color: #000;
    -webkit-box-shadow: 0px 0px 26px -11px rgba(48, 48, 48, 1);
    box-shadow: 0px 0px 26px -11px rgba(48, 48, 48, 1);
}

.question_btn {
    background: #f52663;
    border: none;
    max-width: 360px;
    width: 100%;
    font-family: Gilroy-Bold;
    color: #fff;
    padding: 25px 0;
    border-radius: 5px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.question_btn:hover {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    background: #cd115b;
}

.question_label {
    font-family: Gilroy-Regular;
    max-width: 260px;
    width: 100%;
    font-size: 11px;
    color: #333132;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 17px;
}

.question_label__text {
    line-height: 17px;
}

.question_checbox {
    border: none;
    background: #fff;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/*Footer style*/
.footer_bg {
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}
.footer_frame {
     width: 100%;
    height: 690px;
    position: absolute;
    bottom: 0;
      -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.footer_row {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer_title {
    font-family: Prata-Regular;
    font-size: 45px;
    color: #181818;
    padding-bottom: 35px;
}

.footer_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 63px 57px 57px 57px;
    background: #fff;
    border-radius: 5px;
    max-width: 420px;
    -webkit-box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
    box-shadow: 0px 20px 31px -1px rgba(219, 219, 219, 1);
}

.location_wrap.one {
    padding: 40px 0 55px 0;
}

.footer_btn {
    background: #f52663;
    border-radius: 5px;
    width: 100%;
    max-width: 295px;
    border: none;
    padding: 25px 0;
    color: #fff;
    font-size: 19px;
    font-family: Gilroy-Bold;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.footer_btn:hover {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    background: #cd115b;
}

.footer_column {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_logo {
    height: 68px;
    width: 188px;
}

.footer_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
}

.footer_text,
.footer_link {
    font-size: 13px;
    color: #181818;
}

.footer_link {
    text-decoration: underline;
}

.footer {
    padding-bottom: 40px;
}

/*Slider*/
.carousel-indicators {
    margin: 0;
    bottom: -107px;
}

.carousel-item {
    border-radius: 5px;
}

.carousel-inner {
    text-align: center;
}

.carousel_dots:nth-child(1),
.carousel_dots:nth-child(2),
.carousel_dots:nth-child(3),
.carousel_dots:nth-child(4) {
    background-size: cover;
    width: 136px;
    height: 98px;
    border-radius: 5px;

}

.carousel_dots:nth-child(1) {
    background: url(../img/dots-4.jpg) center center no-repeat;
    margin: 0 !important;
    border: 2px solid #fff;
}

.carousel_dots:nth-child(2) {
    background: url(../img/dots-1.jpg) center center no-repeat;
    margin: 0 !important;
    border: 2px solid #fff;
}

.carousel_dots:nth-child(3) {
    background: url(../img/dots-2.jpg) center center no-repeat;
    margin: 0 !important;
    border: 2px solid #fff;
}

.carousel_dots:nth-child(4) {
    background: url(../img/dots-3.jpg) center center no-repeat;
    margin: 0 !important;
    border: 2px solid #fff;
}

.carousel_image {
    border-radius: 5px;
}

.carousel_dots.active {
    border: 2px solid #45a7ab;
}

/*Desctop and mobile style*/
@media all and (max-width : 1200px) {}

@media all and (max-width : 1024px) {
    .service_col {
        min-height: 227px;
    }
}

@media all and (max-width : 768px) {
    .nav-mobile {
        display: block;
    }

    .nav-link {
        max-width: 120px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navbar-nav {
        padding-top: 15px;
    }

    .dentistry_title {
        font-size: 50px;
    }

    .dentistry_wrap__text {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    .info_bg {
        display: none;
    }

    .info_container {
        margin-top: 0;
    }

    .carousel_image {
        width: 100%;
    }

    .info_col {
        margin-top: 150px;
    }

    .info_row__col {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .question {
        margin-top: 50px;
        padding: 70px 0;
    }

    .service {
        padding-top: 0;
    }
}

@media all and (max-width : 425px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .header_content__logo {
        display: none;
    }

    .location_wrap {
        margin-right: 0 !important;
    }

    .header_content__location {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .dentistry_title {
        font-size: 40px;
    }

    .dentistry_wrap__text {
        padding-left: 10px;
        margin-left: 20px;
    }

    .btn_wrap {
        margin: 0 auto;
    }

    .service_left {
        max-width: 100%;
        width: 100%;
        min-height: 110px;
    }

    .service_col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: auto;
    }

    .service_right {
        padding: 18px 20px 18px 20px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .service_right__title {
        text-align: center;
    }

    .footer_title {
        font-size: 40px;
    }

    .footer_btn {
        padding: 20px 0;
    }

    .footer_wrap {
        padding-top: 20px;
        text-align: left;
    }

    .footer_column {
        padding: 0 15px;
    }

    .question_title {
        font-size: 35px;
    }

    .question_btn {
        padding: 20px 0;
    }

    .carousel_dots:nth-child(1),
    .carousel_dots:nth-child(2),
    .carousel_dots:nth-child(3),
    .carousel_dots:nth-child(4) {
        height: 85px;
    }

    .dentistry_btn {
        padding: 20px 0;
    }

    .info_col {
        padding: 25px 35px 25px 35px;
    }

    .question_subtitle {
        text-align: center;
        font-size: 16px;
    }
}

@media all and (max-width : 375px) {
    .dentistry_title {
        font-size: 30px;
    }

    .dentistry_subtitle {
        font-size: 18px;
    }

    .location_iner__text {
        font-size: 16px !important;
    }

    .location_icon {
        margin-right: 10px;
        width: 23px;
        height: 32px;
    }

    .dentistry {
        padding: 30px 0 70px 0;
    }

    .carousel_dots {
        height: 65px !important;
    }

    .carousel-indicators {
        bottom: -80px;
    }

    .info_col {
        margin-top: 100px;
        padding: 15px;
    }

    .info_row {
        padding-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .info_row__text {
        padding-top: 15px;
    }

    .info_row__col {
        padding-bottom: 10px;
    }

    .footer_col {
        padding: 20px;
    }
}

@media all and (max-width : 320px) {
    .location_iner__text {
        font-size: 14px !important;
    }

    .location_iner__link {
        font-size: 16px !important;
    }

    .dentistry_title {
        font-size: 24px;
    }

    .dentistry_subtitle {
        font-size: 16px;
    }

    .dentistry_wrap__icon {
        display: none;
    }

    .dentistry_bg {
        padding-bottom: 30px;
    }

    .dentistry_wrap__text {
        margin-left: 0;
    }

    .dentistry_btn {
        font-size: 16px;
    }

    .service_title {
        font-size: 30px;
    }

    .service_right__title {
        font-size: 18px;
        padding-bottom: 15px;
        min-height: auto;
    }

    .service_right {
        padding: 20px;
        min-height: auto;
    }

    .footer_btn {
        font-size: 16px;
    }
}
