@media all and (max-width : 1200px) {}

@media all and (max-width : 1024px) {
    .header_content__title {
        font-size: 80px;
    }

    .block_three__col {
        height: 400px;
    }
}

@media all and (max-width : 768px) {
    .header_content__title {
        font-size: 50px;
    }

    .header_content__text {
        font-size: 18px;
    }

    .block_one__content {
        padding-bottom: 15px;
    }

    .block_four__wrap_content h4 {
        font-size: 32px;
    }

    .block_four__wrap_content p {
        font-size: 16px;
    }

    .block_four__bg {
        height: 500px;
    }

    .block_five__wrap {
        width: auto;
    }

    .block_five__wrap {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
        box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    }

    .block_five__content_text {
        max-width: 100%;
    }

    .block_five__content_title {
        height: auto;
        padding-bottom: 20px;
    }

    .block_eight__wrap {
        margin-bottom: 25px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
        box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    }
}

@media all and (max-width : 425px) {
    .row {
        padding: 10px;
    }

    .header_content__title {
        font-size: 30px;
    }

    .header_content__text {
        font-size: 16px;
    }

    .block_one__row {
        padding: 10px;
    }

    .block_one__content {
        margin-bottom: 20px;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    }

    .block_two__list {
        margin-bottom: 15px;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    }

    .block_two__image_col {
        padding: 0;
    }

    .block_three__col {
        margin-bottom: 10px;
        height: 320px;
            -webkit-box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    box-shadow: 0px 0px 10px 1px rgba(227, 227, 227, 1);
    }

    .block_four__wrap_item {
        padding: 0 20px 0 50px;
    }

    .block_four__wrap_content {
        opacity: 1;
    }

    .block_nine {
        display: none;
    }
    .header_content__title{
        animation: none;
    }
}

@media all and (max-width : 375px) {
    .header_content__title {
        font-size: 22px;
    }

    .header_content__text {
        font-size: 12px;
    }

    .block_four__wrap_item {
        padding: 0 40px 0 50px;
    }

    .block_four__wrap_content p {
        font-size: 14px;
    }

    .block_four__wrap_content {
        padding-top: 50px;
    }

    .block_five__content_text {
        padding: 5px;
        font-size: 14px;
    }

    .block_ten__input {
        width: 250px;
    }
    .block_ten__btn {
        padding: 10px 20px 10px 20px;
    }
}

@media all and (max-width : 320px) {
    .header_content__title {
        font-size: 22px;
    }

    .header_content__text {
        font-size: 12px;
    }

    .block_eight__wrap p {
        font-size: 14px;
    }
}
}
