@media all and (max-width : 1200px) {}

@media all and (max-width : 1024px) {}

@media all and (max-width : 768px) {
    .info_row__column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .info_row__col {
        max-width: 340px;
        margin: 0;
        margin-bottom: 15px;
    }
}

@media all and (max-width : 425px) {
    .title_wrap__main {
        font-size: 30px;
    }
}

@media all and (max-width : 375px) {}

@media all and (max-width : 320px) {}
