@font-face {
	font-family: Advert;
	/* Гарнитура шрифта */
	src: url('../fonts/Advert.ttf');
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Oswald Light;
	/* Гарнитура шрифта */
	src: url('../fonts/Oswald-ExtraLight.ttf');
	/* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Oswald Medium;
	/* Гарнитура шрифта */
	src: url('../fonts/Oswald-Medium.ttf');
	/* Путь к файлу со шрифтом */
}