&--project {
	padding-bottom: 100px;
	@media #{$sm} {
		padding: 100px 15px 50px;
	}
	@media #{$xs} {
		padding: 80px 15px 30px;
	}
	.text {
		@media #{$md} {
			padding-right: 40px;
		}
		@media #{$sm} {
			padding: 0 10px 40px;
		}
	}
}