&-title {
	font-size: 48px;
	line-height: 59px;
	padding-bottom: 10px;
	color: $black;
	@media #{$md} {
		font-size: 40px;
	}
	@media #{$xs} {
		font-size: 30px;
		line-height: 40px;
	}
	@media #{$xxs} {
		font-size: 26px;
		line-height: 35px;
	}
	&--blue {
		color: $blue;
	}
	&--license {
		@media #{$xs} {
			padding-bottom: 35px;
		}
	}
	&--vacancies {
		padding-top: 20px;
	}
	&--privacy {
		padding-bottom: 0;
		@media #{$sm} {
			padding-bottom: 40px;
		}
	}
}