&-title {
	padding-bottom: 10px;
	@include font-set(48px,700,59px);
	color: $black;
	@media #{$md} {
		font-size: 40px;
	}
	@media #{$xs} {
		@include font-set(30px,null,40px);
	}
	@media #{$xxs} {
		@include font-set(26px,null,35px);
	}
	&--blue {
		color: $blue;
	}
	&--license {
		@media #{$xs} {
			padding-bottom: 35px;
		}
	}
	&--vacancies {
		padding-top: 20px;
	}
	&--privacy {
		padding-bottom: 0;
		@media #{$sm} {
			padding-bottom: 40px;
		}
	}
}