@media all and (min-width : 850px) {
    .container {
        max-width: 1050px;
        min-width: 850px;
        width: 100%;
        margin: 0 auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-bg p {
        font-size: 60px;
        padding-top: 219px;
        padding-bottom: 17px;
    }

    .main-bg .border {
        font-size: 16px;
        padding-top: 12px;
    }

    .wrap-one {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .wrap-one .img {
        margin-top: 10px;
    }

    .wrap-one p {
        margin-left: 30px;
    }

    .wrap-one {
        padding-top: 60px;
        font-size: 18px;
    }

    .wrap-two p {
        padding-top: 65px;
        font-size: 18px;
    }

    .wrap-three {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .wrap-three .desc {
        padding-left: 45px;
    }

    .wrap-three .desc p {
        font-size: 18px;
    }
    
    
    
    .wrap-three .recom .lead {
        max-width: 181px;
    }

    .wrap-three .recom .lead p {
        max-width: 181px;
    }

    .tags {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 195px;
        margin-bottom: 100px;
        padding: 20px !important;
    }

    .tags .stat {
        padding-right: 3%;
    }

    .tags button img {
        padding-left: 14px;
    }

    .tags button p {
        padding-left: 24px;
    }

    .tags .one {
        width: 87px;
        margin-left: 2%;
    }

    .tags .two {
        width: 87px;
        margin-left: 2%;
    }

    .tags .three {
        width: 87px;
        margin-left: 2%;
    }

    .comment .item .lead .name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .comment .item .lead .time {
        padding-left: 10px;
    }
}

@media all and (max-width:850px) {
    .container {
        max-width: 850px;
        min-width: 620px;
        width: 100%;
        margin: 0 auto;
        padding-left: 48px;
        padding-right: 48px;
    }

    .main-bg p {
        font-size: 44px;
        padding-top: 219px;
        padding-bottom: 17px;
    }

    .main-bg .border {
        font-size: 14px;
        padding-top: 12px;
    }

    .wrap-one {

    }

    .wrap-one .img {
        margin-top: 10px;
    }

    .wrap-one p {
        margin-left: 30px;
    }

    .wrap-one {
        padding-top: 60px;
        font-size: 18px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .wrap-two p {
        padding-top: 65px;
        font-size: 18px;
    }

    .wrap-three {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: star;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .wrap-three .desc {
        padding-left: 35px;
    }

    .wrap-three .desc p {
        font-size: 18px;
    }

    .wrap-three .recom .lead p {

    }

    .tags {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 195px;
        margin-bottom: 40px;
    }

    .tags .col .lead {}

    .tags .stat {
        ;
        padding-right: 3%;
    }

    .tags button img {
        padding-left: 14px;
    }

    .tags button p {
        padding-left: 24px;
    }

    .tags .one {
        width: 87px;
        margin-left: 2%;
    }

    .tags .two {
        width: 87px;
        margin-left: 2%;
    }

    .tags .three {
        width: 87px;
        margin-left: 2%;
    }

    .comment .write {
        padding-left: 50px;
    }

    .comment .item {
        padding-left: 50px;
    }

    .comment .item .lead .name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .comment .item .lead .time {
        padding-left: 10px;
    }

}

@media all and (max-width:620px) {
    .container {
        max-width: 620px;
        min-width: 220px;
        width: 100%;
        margin: 0 auto;
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-bg p {
        font-size: 38px;
        padding-top: 30px;
        padding-bottom: 17px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .main-bg .border {
        font-size: 14px;
        padding-top: 12px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 25px;
    }

    .wrap-one .img {
        margin-top: 10px;
        float: left;
        padding-right: 10px;
    }

    .wrap-one p {}

    .wrap-one {
        display: block;
        padding-top: 60px;
        font-size: 16px;
    }

    .wrap-two p {
        padding-top: 65px;
        font-size: 18px;
    }

    .wrap-three {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .wrap-three .desc {
        padding-left: 0;
    }

    .wrap-three .desc p {
        font-size: 18px;
        
    }

    .wrap-three .recom h4 {
        width: 100%;
    }

    .wrap-three .recom .lead {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .wrap-three .recom .lead p {}

    .wrap-three .recom .lead span {
        display: block;
        padding-top: 15px;
    }

    .wrap-three .recom .btn button {
        font-size: 12px;
    }

    .tags {
        margin-top: 195px;
        margin-bottom: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: block!important;
        padding: 5px!important;
    }

    .tags .col .lead {
        padding-top: 5px;
    }

    .tags button img {
        padding-left: 5px;
        width: 23px;
        height: 19px;
    }

    .tags button p {
        padding-left: 10px;
    }

    .tags .col {
        padding-left: 5px;
        padding-bottom: 15px;
    }

    .tags .col-one {
        width: 100%;
        padding-left: 5px;
        padding-bottom: 15px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tags .stat {
        padding-right: 3%;
    }

    .tags .one {
        margin: 0;
        width: 60px;
        margin-left: 2%;
    }

    .tags .two {
        margin: 0;
        width: 60px;
        margin-left: 2%;
    }

    .tags .three {
        margin: 0;
        width: 60px;
        margin-left: 2%;
    }


    .comment .item,
    .comment .write {
        margin-bottom: 40px;
    }

    .comment .item .reply img {
        padding-top: 5px;
        width: 33px;
        height: 33px;
    }

    .comment .item .lead .name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}



.main-bg {
    background: url("../image/bgmain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    height: 628px;
}

.main-bg p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFFFFF;
}

.main-bg .border {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFFFFF;
    width: 182px;
    border-top: 2px solid #FEB513;
}

/*Первый блок*/
.wrap-one p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: #303F44;
}

/*Второй блок*/
.wrap-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}

.wrap-two p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color: #616A6D;
}

/*Третий блок*/
.wrap-three {
    padding-top: 51px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.wrap-three .recom {
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 2px 2px rgba(3, 90, 124, 0.07);
    box-shadow: 0px 2px 2px rgba(3, 90, 124, 0.07);
}

.wrap-three .recom h4 {
    margin-left: -15px;
    padding-top: 26px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 0.14em;
    color: #303F44;
    border-bottom: 2px solid;
    border-color: rgba(3, 90, 124, 0.07);

}

.wrap-three .recom .lead {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: rgba(3, 90, 124, 0.07);
}
.wrap-three .recom .lead:last-child{
    border: none;
}

.wrap-three .recom .lead p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    color: #616A6D;
    border-radius: 5px;
}

.wrap-three .recom .lead span {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #202124;
    mix-blend-mode: normal;
    opacity: 0.4;
    border-radius: 5px;
}

.wrap-three .recom .btn {
    padding-top: 34px;
    padding-bottom: 31px;
    text-align: center;
}

.wrap-three .recom .btn button {
    width: 242px;
    height: 67px;
    background: #0AADED;
    -webkit-box-shadow: 0px 4px 15px rgba(10, 173, 237, 0.35);
    box-shadow: 0px 4px 15px rgba(10, 173, 237, 0.35);
    border-radius: 30px;
    padding: 0;
}

.wrap-three .desc p {
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color: #616A6D;
}

/*Теги*/
.tags {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.14);
    padding: 20px
}

.tags .col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tags .col-one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.tags .col .lead {
    width: 100%;
}

.tags .col-one .lead {
    width: 100%;
    
}

.tags .lead p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #202124;
}

.tags .lead p span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
    color: #202124;
}

.tags .stat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tags .stat p {
    padding-left: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #202124;
}

.tags .one {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 33px;
    border-radius: 100px;
    padding: 0;
    background: #2AA3EF;
    border-style: none;
}

.tags .two {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 33px;
    border-radius: 100px;
    padding: 0;
    background: #3C5B97;
    border-style: none;
}

.tags .three {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 33px;
    border-radius: 100px;
    padding: 0;
    background: #DA483F;
    border-style: none;
}

/*Комментарии*/
section .com-bg {
    margin-top: 50px;
    padding-top: 107px;
    padding-bottom: 68px;
    width: 100%;
    background-color: #EAF7FD;
}

.comment {
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px;
}

.comment .head {
    padding: 30px 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid;
    border-color: #EDEDED;
}

.comment .head p {
    padding-left: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.14em;
    color: #202124;
}

.comment .head span {
    padding-left: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #a1a6b5;
}

.comment .write {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.comment .write input[type="text"] {
    margin-left: 18.5px;
    background: #F6F6F6;
    border: 1px solid #EDEDED;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    width: 67%;
    min-width: 10%;
    line-height: 61px;
    padding: 0;
    outline: none;
    padding: 0 30px;
    width: 100%;
}

.comment .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.comment .item .lead {
    margin-left: 18.5px;
    width: 83%;
}

.comment .item .lead .name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #0AADED;
}

.comment .item .lead .time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    color: #a6a6a7
}

.comment .item .lead p {
    padding-right: 18px;
    padding-top: 10px;
    max-width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 16px;
    color: #202124;
}

.comment .item .reply {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #202124;
}

.comment .item .reply img {
    padding-top: 5px;
}

.comment .item .reply span {
    padding-left: 14px;
    color: #a6a6a7;
}

/*слайд LG*/
.popular-slid {
    margin-bottom: 0 !important;
}

.popular-slid .slick-dots {
    bottom: -80px;
}

.popular-slid .slick-dots li::before {
    display: none !important;
}

.popular-slid .slick-dots li {
    width: 34px;
    height: 3px;
    background: #E6E8E9;
}

.popular-slid .slick-dots li.slick-active {
    background: #FEB513;
}

.slider-lg__wrapper {
    -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.14);
}

.slider-lg__title {
    border-radius: 5px 5px 0;
}

.slider-wrapper {
    margin: auto;
    background: #fff;
    padding-bottom: 23px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slider-lg {
    width: 100%;
    padding: 100px 0;
    background: #F5F8FA;
}

.slider-lg h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 0.14em;
    color: #303F44;
    display: block;
    width: 100%;
    background: #fff;
    padding-top: 18px;
    padding-bottom: 14px;
    border-bottom: 1px solid #EDEDED;
    padding-left: 25px;
}

.slider div,
.slider a {
    outline: none !important
}

.slider-lg .main-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.slider-lg .slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
}

.slider-lg .slide img {
    padding-left: 26px;
}

.slider-lg .slide .ttt {
    margin: 0;
    padding-left: 8px;
    width: 184px;
    border-right: 1px solid #EDEDED;
}

.slider-lg .slide .ttt::last-child {
    border-right: none;
}

.slider-lg .slide .ttt h4 {
    border-bottom: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 12px;
    letter-spacing: 0.14em;
    color: #0AADED;
    padding: 0;
}

.slider-lg .slide .ttt p {
    padding-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 14px;
    color: #303F44;
}








/*2 макет*/

@media all and (min-width : 1200px) {
    .slide0 .write {
        font-size: 38px;
    }

    .slide-btn .wrap button {
        font-size: 18px;
        width: 318px;
    }

    .slide10 .wrap h4 {
        font-size: 34px;
    }
}
@media all and (max-width : 1160px) {
        .slide0 .write {
        font-size: 28px;
    }
}

@media all and (max-width:769px) {
    .slide0 .write {
        font-size: 24px;
    }

    .slide-btn .wrap button {
        font-size: 14px;
        width: 235px;
    }

    .slide10 .wrap h4 {
        font-size: 30px;
    }
}

@media all and (max-width:480px) {
    .slide0 .write {
        font-size: 18px;
    }

    .slide-btn .wrap button {
        font-size: 14px;
        width: 208px;
    }

    .slide10 .wrap h4 {
        font-size: 26px;
    }
}


.slide0 {
    border-top: 1px solid #E6E8E9;
    padding-bottom: 6px;
}

.slide0 .write {
    padding-left: 13%;
    padding-right: 5%;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #303F44;
}

.slide0 .write span {
    border-bottom: 2px solid #FEB513;
}
.globe{
    position: relative;
    margin: 80px 0 0;
}
.globe__title{
    font-weight: 300;
    position: absolute;
    top: 46%;
    left: 51%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
}
.slide0 img {
    max-width: 100%;
}

.slide-btn .wrap .btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 42px;
}

.slide-btn .wrap button {
    padding-left: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #0AADED;
    -webkit-box-shadow: 0px 4px 15px rgba(10, 173, 237, 0.35);
    box-shadow: 0px 4px 15px rgba(10, 173, 237, 0.35);
    border-radius: 70px;
    border-style: none;
}

.slide-btn .wrap button p {
    padding-left: 15px;
}

.slide-btn .wrap img {
    width: 18px;
    height: 18px;
}

.slide-btn .wrap .write {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    color: #0AADED;
}

.slide10 .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 74px;
}

.slide10 .wrap h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #303F44;
}

.slide10 .wrap h4 span {
    border-bottom: 2px solid #FEB513;
}


.comment .write {
    padding-left: 80px !important;
    padding-right: 80px !important;
    margin-bottom: 40px;
}

.comment .item {
    padding-left: 80px !important;
    padding-right: 80px !important;
    margin-bottom: 40px;

    -webkit-box-align: start;

    -webkit-align-items: flex-start;

    -ms-flex-align: start;

    align-items: flex-start
}

.comment__border {
    background: #EDEDED;
    height: 1px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.comment__border_sub {
    margin-left: 160px;
}

.item__sub {
    margin-left: 80px;
    position: relative;
}

.item__sub_delete {
    position: absolute;
    right: 80px;
    top: 0;
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer
}

.comment .item .lead .name .reply {
    padding-top: 0;
    margin: 0 30px;
}

@media all and (max-width : 768px) {
    .comment .write {
        padding-left: 20px !important;
        padding-right: 20px !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .comment .item {
        padding-left: 20px !important;
        padding-right: 20px !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .comment .item .lead .name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .comment .item .lead {
        margin-left: 10px;
        width: 100%;
    }
    .comment .write img{
        margin-right: 10px;
    }
    .comment .write input[type="text"] {
        margin-left: 0;
    }

    .comment__border {
        margin-left: 20px;
        margin-right: 20px;
    }

    .comment .item .lead p {
        padding-right: 0;
    }

    .comment .item.item__sub {
        padding-left: 0 !important;
    }

    .item__sub,
    .comment__border_sub {
        margin-left: 40px !important;
    }

    .comment .item .lead .name {
        -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }
}
@media all and (max-width : 620px){
    .wrap-three .recom{
        width: 100%;
    }
}
@media all and (max-width : 580px) {
    .comment .item .lead p{
        font-size: 14px;
    }
    .comment .item img{
        width: 38px;
        margin-right: 10px;
    }
    .comment .write img{
        width: 38px;
        margin-right: 10px;
    }
    .comment .write input[type="text"]{
        height: 40px;
    }
}

button{
    border:none;
    outline: none;
}