@media all and (max-width : 768px) {
    .nav-tabs {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .nav-tabs .nav-link {
        font-size: 11px;
        max-width: 260px;
    }

    .carousel-control-prev {
        left: -32px;
    }

    .carousel-control-next {
        right: -32px;
    }
}

@media all and (max-width : 600px) {
    .work_list {
        display: none;
    }
}

@media all and (max-width : 425px) {
    .title_wrap__main {
        font-size: 30px;
    }

    .nav-tabs .nav-link {
        max-width: 260px;
        margin: 0 auto;
    }
}

