/*Heeader*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800');

header {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.m-price {
    padding-top: 50px;
    background: #f3f6f8;
}

.main_btn {
    border: 2px solid #ffdf00;
    width: 100%;
    max-width: 218px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_btn:hover {
    -webkit-box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    box-shadow: 0px 1px 6px -1px rgba(222, 222, 222, 1);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_block {
    background: #ffdf00;
}

.main_btn__active {
    width: 100%;
    background: none;
    border: none;
    color: #0a1f35;
    font-size: 13px;
    font-weight: 500;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.main_btn__active:hover {
    background: #ffdf00;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.price_wrap__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.title_wrap__link {
    font-size: 13px;
    color: #0a1f35;
    font-weight: 500;
    text-decoration: underline;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    text-transform: uppercase;
}

.title_wrap__link:hover {
    text-decoration: none;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.title_wrap__text {
    font-size: 13px;
    color: #9ea0a2;
    margin: 0;
    text-transform: uppercase;
}

.title_wrap__brd {
    height: 13px;
    width: 2px;
    background: #97999b;
    margin: 0 15px;
}

.title_wrap__main {
    padding: 25px 0;
    color: #0a1f35;
    font-size: 46px;
    font-weight: bold;
    margin: 0;
}

.row__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row_list__link {
    text-transform: uppercase;
    color: #0a1f35;
    font-size: 14px;
    font-weight: 500;
    max-width: 230px;
    width: 100%;
    text-align: center;
    background: #fff;
    margin-right: 18px;
    padding: 15px 10px;
    -webkit-box-shadow: 0px 3px 7px -2px rgba(143, 143, 143, 0.34);
    box-shadow: 0px 3px 7px -2px rgba(143, 143, 143, 0.34);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.row_list__link:nth-child(5) {
    margin-right: 0;
}

.row_list__link:hover {
    background: #ffdf00;
    color: #0a1f35;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.price_row__col {
    max-width: 280px;
    width: 100%;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 7px -3px rgba(143, 143, 143, 0.34);
    box-shadow: 0px 3px 7px -3px rgba(143, 143, 143, 0.34);
    margin-bottom: 25px;
}

.price_row__title {
    font-size: 18px;
    color: #0a1f35;
    margin-top: 30px;
    height: 45px;
}

.price_row__brd {
    width: 60px;
    height: 2px;
    background: #313a44;
    margin: 15px 0;
}

.price_row__text {
    font-size: 15px;
    color: #010101;
}

.price_row__span {
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 25px;
}

.price_row__image {
    height: 85px;
}
