.footer {
	.title {
		margin-top: -10px;
		line-height: 34px;
	}
	.subtitle {
		margin-bottom: 13px;
	}
	.text {
		@media #{$xs} {
			font-size: 12px;
			line-height: 20px;
		}
	}
	.container {
		@extend %flexRow;
	}
	.col {
		&--main {
			@include make-col(3);
			@media #{$sm} {
				@include make-col(6);
				padding-right: 70px;
				order: -2;
			}
			@media #{$xs} {
				padding-top: 3px;
				padding-right: 20px;
			}
		}
		&--user {
			@extend %flexColumn;
			align-items: flex-start;
			@include make-col(1.7);
			@media #{$md} {
				@include make-col(2);
			}
			@media #{$sm} {
				@include make-col(6);
			}
			@media #{$xs} {
				order: -1;
			}
		}
		&--contact {
			@extend %flexColumn;
			align-items: flex-start;
			@include make-col(3.6);
			@media #{$md} {
				@include make-col(3.3);
				padding-right: 15px;
			}
			@media #{$sm} {
				@include make-col(6);
				padding-right: 0;
				margin-bottom: 20px;
				order: -1;
			}
			@media #{$xs} {
				margin-top: 10px;
				@include make-col(12);
				order: 0;
			}
			@media #{$xxs} {
				padding-right: 20px;
			}
		}
		&--callback {
			@extend %flexColumn;
			@include make-col(3.7);
			@media #{$sm} {
				@include make-col(6);
			}
			@media #{$xs} {
				@include make-col(12);
			}
		}
		&--copyright {
			border-top: 1px solid $greyBorder;
			@include make-col(12);
			padding: 30px 0;
			text-align: center;
			br {
				display: none;
				@media #{$xs} {
					display: inline;
				}
			}
			@media #{$sm} {
				margin-top: 30px;
			}
			@media #{$xs} {
				line-height: 20px;
				padding: 20px 0;
				font-size: 12px;
			}
		}
		&-content {
			margin: 20px 0 40px;
			@media #{$sm} {
				margin-bottom: 0;
			}
			@media #{$xs} {
				margin-top: 10px;
			}
		}
	}
	.form {
		margin-top: 25px;
		display: flex;
		&-input {
			flex: 1 0 0;
			padding: 17px 20px 17px 22px;
			background-color: $greyLow;
			border-radius: 15px;
			font-size: 14px;
			line-height: 17px;
			color: $greyHard;
			z-index: 0;
			outline: none!important;
		}
		.btn {
			max-width: 118px;
			margin-left: -30px;
			z-index: 2;
			@media #{$xs} {
				font-size: 14px;
			}
		}
	}
	.link {
		&-social {
			&--1 {
				margin-left: 0;
			}
		}
		&--adress {
			padding-right: 30px;
			@media #{$sm} {
				padding-right: 0;
				margin-bottom: 15px;
			}
		}
		&-mobile-menu {
			position: relative;
			&:hover {
				.link-mobile-arrow {
					transform: rotate(180deg);
				}
				.link--hidden{
					@extend %flexColumn;
					opacity: 1;
					z-index: 1;
				}
			}
		}
		&--hidden {
			transition: .5s all ease;
			position: absolute;
			left: 0;
			top: 18px;
			opacity: 0;
			z-index: -2;
			padding: 0 0 5px;
			background-color: white;
		}
		&-mobile-arrow {
			margin-left: 4px;
			transition: $standard;
			cursor: pointer;
		}
	}
}