.s-about {
	padding-bottom: 60px;
	.container {
		@extend %flexColumn;
	}
	.subtitle {
		padding-bottom: 25px;
		max-width: 845px;
	}
	.text {
		max-width: 310px;
		&--small {
			max-width: 270px;
			font-size: 14px;
			@media #{$sm} {
				margin: 0 auto;
			}
		}
		&--lg {
			max-width: 470px;
		}
		&--border {
			border-left: 5px solid $blue;
			padding-left: 15px;
			max-width: 695px;
			padding-bottom: 0;
			margin-bottom: 20px;
		}
	}
	.row {
		@media #{$sm} {
			flex-direction: column;
		}
	}
	.col {
		padding: 0 15px;
		@include make-col(4);
		@media #{$sm} {
			@include make-col(12);
			margin-bottom: 30px;
			text-align: center;
		}
		&-img {
			margin-bottom: 24px;
		}
	}
}