.s-about {
	padding-bottom: 60px;
	.container {
		@extend %flexColumn;
	}
	.subtitle {
		padding-bottom: 25px;
	}
	.text {
		&--lg {
			max-width: 470px;
		}
		&--border {
			max-width: 680px;
			display: flex;
			align-items: center;
		}
	}
	.border {
		margin-right: 15px;
		padding-right: 5px;
		width: 5px;
		height: 40px;
		border-radius: 10px;
		background-color: $blue;
	}
	.col {
		padding: 0 15px;
		@include make-col(4);
		&-img {
			margin-bottom: 24px;
		}
	}
}