.s-about {
	padding-bottom: 60px;
	.container {
		@extend %flexColumn;
	}
	.subtitle {
		padding-bottom: 25px;
	}
	.text {
		&--lg {
			max-width: 470px;
		}
		&--border {
			max-width: 680px;
		}
	}
	.col {
		padding: 0 15px;
		@include make-col(4);
		&-img {
			margin-bottom: 24px;
		}
	}
}