.s-license {
	padding-bottom: 130px;
	@media #{$md} {
		padding-bottom: 54px;
	}
	@media #{$xs} {
		padding-bottom: 25px;
	}
	.title {
		margin-bottom: 15px;
		br {
			display: none;
			@media #{$xs} {
				display: inline;
			}
		}
	}
	.subtitle {
		margin-bottom: 17px;
		@media #{$xs} {
			margin-bottom: 12px;
		}
	}
	.text {
		margin-bottom: 50px;
		color: $black;
		@media #{$md} {
			margin-bottom: 30px;
		}
		@media #{$xs} {
			margin-bottom: 25px;
		}
		&--last {
			margin-bottom: 25px;
		}
	}
}