.s-license {
	padding-bottom: 60px;
	.title {
		margin-bottom: 15px;
	}
	.subtitle {
		margin-bottom: 15px;
	}
	.text {
		margin-bottom: 40px;
		color: $black;
		font-weight: 700;
		&--last {
			margin-bottom: 25px;
		}
	}
}