.s-main {
	padding-bottom: 50px;
	z-index: 1;
	@media #{$md} {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media #{$sm} {
		padding: 30px 15px 50px;
	}
	&--licence {
		padding-top: 20px;
		padding-bottom: 80px;
		@media #{$xs} {
			padding-top: 30px;
		}
	}
	&--project {
		padding-bottom: 100px;
	}
	&--vacancies {
		.text {
			@media #{$md} {
				padding-bottom: 15px;
			}
		}
	}
	&-title {
		font-size: 48px;
		line-height: 59px;
		padding-bottom: 15px;
		@media #{$md} {
			font-size: 40px;
		}
		@media #{$xs} {
			font-size: 30px;
			line-height: 40px;
		}
		@media #{$xxs} {
			font-size: 26px;
			line-height: 35px;
		}
		&--blue {
			color: $blue;
		}
		&--privacy {
			padding-bottom: 0;
			@media #{$xs} {
				padding-bottom: 20px;
			}
		}
	}
	.text {
		padding-bottom: 25px;
	}
	.container {
		max-width: 1330px;
		@extend %flexRowCenter;
		background-color: $greyLow;
		border-radius: 33px;
		@media #{$sm} {
			flex-direction: column;
		}
		&--privacy {
			@media #{$xxs} {
				padding: 0;
			}
		}
	}
	&-img {
		margin: -30px 80px -40px 10px;
		max-width: 100%;
		@media #{$md} {
			max-width: 450px;
			width: 100%;
			margin-right: 30px;
		}
		&--licence {
			margin: -60px 50px -20px 10px;
			@media #{$md} {
				margin-right: 0;
			}
		}
		&--vacancies {
			margin-top: -20px;
			margin-right: 0;
		}
		&--privacy {
			margin: 0 40px -40px 50px;
		}
		&--project {
			margin-top: -50px;
		}
		@media #{$sm} {
			margin: -30px auto 10px;
		}
	}
	&-col {
		@extend %flexColumn;
		flex: 1 0 0;
		min-height: max-content;
		@media #{$sm} {
			align-items: center;
			text-align: center;
		}

		&--project {
			max-width: 554px;
		}
	}
}