.s-price {
	padding-bottom: 90px;
	.title {
		text-align: center;
	}
	.subtitle {
		text-align: center;
		padding-bottom: 25px;
	}
	.text {
		text-align: center;
		padding-bottom: 36px;
		&--month {
			padding-bottom: 0;
			font-size: 18px;
			margin-bottom: 20px;
			opacity: 1;
			transition: $standard;
			color: $greyHard;
		}
	}
	.row {
		padding: 0 15px;
		justify-content: space-between;
	}
	.carousel {
		display: none;
		width: 100%;
		@media #{$sm} {
			display: block;
		}
		&-item {
			min-height: 520px;
		}
	}
	.col {
		@include make-col(3.8);
		@extend %flexColumn;
		background-color: $greyLow;
		position: relative;
		padding: 37px 34px 27px;
		border-radius: 15px;
		border: 2px solid white;
		transition: $standard;
		overflow: hidden;
		cursor: pointer;
		@media #{$md} {
			padding: 30px 20px 30px;
		}
		@media #{$sm} {
			@include make-col(6);
			margin: 0 auto;
			max-width: 420px;
			min-height: 686px;
		}
		@media #{$xs} {
			min-height: 570px;
		}
		@media #{$xxs} {
			padding: 37px 15px;
		}
		&--lg {
			@media #{$sm} {
				display: none;
			}
		}
		&:hover {
			border-color: $blue;
			.col-info {
				top: 52px;
			}
			.btn {
				color: white;
				background-color: $blue;
			}
		}
		&-info {
			transform: rotate(-90deg);
			top: -56px;
			left: -30px;
			position: absolute;
			background-color: $blue;
			color: white;
			border-radius: 15px 0 0 15px;
			font-size: 14px;
			padding: 8px 10px 8px 25px;
			line-height: 10px;
			transition: $standard;
		}
		&-price {
			font-size: 36px;
			color: $blue;
			text-align: center;
			margin-bottom: 10px;
			@media #{$md} {
				font-size: 32px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			&-exchange {
				font-size: 24px;
			}
		}
	}
}