.s-question {
	padding-bottom: 90px;
	@media #{$xs} {
		padding-bottom: 55px;
	}
	.caption {
		max-width: 465px;
		margin-bottom: 36px;
		color: $greyHard;
		@media #{$md} {
			font-size: 16px;
			margin-bottom: 27px;
		}
		@media #{$xs} {
			font-size: 18px;
			br {
				display: none;
			}
		}
	}
	.row {
		flex-direction: column;
	}
	.col {
		padding: 0 15px;
		@include make-col(12);
		@extend %flexColumn;
		margin-bottom: 7px;
		&-btn {
			position: relative;
			width: 100%;
			padding: 25px 25px 25px 32px;
			background: $greyLow;
			text-align: left;
			color: $black;
			border-radius: 15px;
			transition: .7s all ease;
			font-size: 18px;
			font-family: $fontGilroyBold;
			@media #{$md} {
				font-size: 16px;
			}
			@media #{$xs} {
				padding: 20px 105px 20px 25px;
				line-height: 24px;
			}
			@media all and (max-width : 320px) {
				padding-right: 65px;
			}
			&:hover {
				background: $blue;
				color: white;
				.line {
					background-color: white;
				}
			}
			&[aria-expanded="true"] {
				background: $blue;
				color: white;
				border-radius: 15px 15px 0 0;
				.line {
					background-color: white;
					&--vertical {
						transform: rotate(180deg);
					}
				}
			}
		}
		&-card {
			padding: 26px 60px 26px 32px;
			background: $greyLow;
			font-size: 16px;
			line-height: 24px;
			border-radius: 0 0 15px 15px;
			color: $greyHard;
			@media #{$md} {
				font-size: 14px;
				padding-right: 80px;
			}
		}
	}
	.line {
		background-color: black;
		width: 25px;
		height: 4px;
		display: inline-block;
		position: absolute;
		right: 25px;
		border-radius: 15px;
		top: 35px;
		transition: $standard;
		@media #{$md} {
			width: 18px;
			top: 33px;
		}
		@media #{$xs} {
			top: 40px;
		}
		&--vertical {
			transform: rotate(90deg);
		}
		&--bot {
			@media #{$xs} {
				top: 30px;
			}
			@media all and (max-width : 320px) {
				top: 40px;
			}
		}
	}
}