.s-team {
	padding-bottom: 67px;
	overflow: hidden;
	.title {
		text-align: center;
	}
	.caption {
		text-align: center;
		margin-bottom: 26px;
	}
	.subtitle {
		text-align: center;
		margin-bottom: 15px;
		@media #{$sm} {
			font-size: 18px;
		}
		@media #{$xs} {
			margin-bottom: 5px;
		}
	}
	.text {
		text-align: center;
		margin-bottom: 20px;
		@media #{$md} {
			font-size: 14px;
		}
		@media #{$xs} {
			margin-bottom: 10px;
		}
	}
	.carousel {
		&-wrap {
			display: flex;
			justify-content: space-between;
			@media #{$xs} {
				flex-direction: column;
				align-items: center;
			}
		}
		&-wrapper {
			@extend %flexColumnCenter;
			cursor: pointer;
			@media #{$md} {
				max-width: 300px;
			}
			@media #{$sm} {
				margin: 0 auto;
				max-width: 220px;
			}
			@media #{$xs} {
				max-width: 100%;
			}
			&:hover {
				.carousel-content {
					opacity: 1;
					z-index: 1;
				}
				.carousel-img {
					opacity: 0.85;
				}
			}
			.text {
				@media #{$md} {
					min-height: 48px;
				}
				@media #{$xs} {
					min-height: unset;
				}
			}
		}
		&-img {
			max-width: 100%;
			margin-bottom: 36px;
			transition: $standard;
			@media #{$xs} {
				margin-bottom: 15px;
			}
		}
		&-content {
			transition: $standard;
			display: flex;
			justify-content: center;
			opacity: 0;
			z-index: -1;
			@media #{$xs} {
				opacity: 1;
				z-index: 2;
				margin-bottom: 20px;
			}
		}
	}
}