.s-vacancies {
	padding-top: 40px;
	padding-bottom: 95px;
	.subtitle {
		margin-bottom: 26px;
	}
	.text{
		margin-bottom: 27px;
		padding-left: 15px;
		border-left: 5px solid $blue;
		&--vacancies {
			max-width: 470px;
			margin-bottom: 46px;
			padding-left: 0;
			border: none;
		}
		&--link {
			color: $blue;
		}
	}
	.row {
		justify-content: space-between;
		&-wrap {
			@include make-col(6);
			padding: 0 15px;
			@media #{$xs} {
				@include make-col(12);
			}
		}
	}
	.col {
		@include make-col(12);
		padding: 40px 27px 10px 33px;
		margin-bottom: 45px;
		background-color: $greyLow;
		border-radius: 15px;
		height: max-content;
		@media #{$xs} {
			padding: 30px 24px 10px;
		}
	}
	.nav {
		justify-content: center;
		&-item {
			@extend %flexRowCenter;
			margin: 0 5px;
			padding: 10px;
			width: 40px;
			height: 40px;
			border-radius: 10px;
			background-color: $greyLow;
			color: $greyMedium;
			transition: $standard;
			&.active {
				background-color: $blue;
				color: white;
			}
			&:hover {
				opacity: 0.75;
			}
		}
	}
}
