.s-vacancies {
	padding-top: 40px;
	padding-bottom: 95px;
	.subtitle {
		margin-bottom: 26px;
	}
	.text{
		margin-bottom: 27px;
		&--vacancies {
			margin-bottom: 46px;
		}
	}
	.row {
		justify-content: space-between;
		&-wrap {
			@include make-col(6);
			padding: 0 15px;
		}
	}
	.col {
		@include make-col(12);
		padding: 40px 27px 10px 33px;
		margin-bottom: 45px;
		background-color: $greyLow;
		border-radius: 15px;
		height: max-content;
	}
}
