.s-work {
	padding-bottom: 60px;
	@media #{$md} {
		padding-bottom: 50px;
	}
	@media #{$xs} {
		padding-bottom: 0;
	}
	.container {
		@extend %flexRow;
		@media #{$xs} {
			flex-direction: column;
		}
	}
	.col {
		@include make-col(4);
		text-align: center;
		padding: 0 15px;
		@media #{$xs} {
			@include make-col(12);
			margin-bottom: 56px;
		}
		&-img {
			max-width: 100%;
			@media #{$md} {
				max-width: 171px;
			}
		}
		&-header {
			@extend %flexColumnCenter;
			min-height: 180px;
			margin-bottom: 15px;
			@media #{$md} {
				margin-bottom: 10px;
			}
			@media #{$xs} {
				min-height: auto;
				margin-bottom: 30px;
			}
		}
	}
	.caption {
		@media #{$md} {
			font-size: 16px;
			margin-bottom: 10px;
		}
		@media #{$sm} {
			margin-bottom: 5px;
		}
	}
	.text {
		@media #{$md} {
			font-size: 14px;
		}
		@media #{$xs} {
			padding: 0 35px;
		}
		@media #{$xxs} {
			padding: 0;
		}
	}
}