@media all and (min-width : 1600px) {
.header_bg__main {
padding-bottom: 350px;
}

.header_bg__blog {
padding-bottom: 350px;
}

.contact_bg {
padding-bottom: 350px;
}

.forum_bg {
padding-bottom: 350px;
}
}

@media all and (max-width : 1024px) {
    .green_ball__bes {
        display: none;
    }
    .green_ball__bes {
        display: none;
    }
    .footer_row__brd {
        display: none;
    }
    .footer_col.regions {
    padding-left: 15px;
}
    .nav-item {
        padding-right: 10px;
    }

    .header_image__ball {
        left: -330px;
    }

    .ball_red {
        right: -2%;
    }

    .guy {
        width: 400px;
    }

    .main_content__row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main_content__column {
        margin-bottom: 8px;
    }

    .carousel-inner {
        width: 100%;
    }

    .main_hover__column:hover {
        height: auto;
    }

    .main_control__prev {
        left: -55px;
    }

    .main_control__next {
        right: -55px;
    }

    .team_row {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .team_col {
        max-width: 330px;
    }

    .team_col:nth-child(1) {
        margin-bottom: 120px;
    }

    .team_col:nth-child(2) {
        margin-bottom: 120px;
    }

    .play {
        overflow: hidden;
    }

    .infs_row {
        max-width: 900px;
    }

    .infs_img {
        width: 90px;
        height: 90px;
        top: 30%;
        left: -55px;
    }

    .infs_row__text {
        padding: 15px 20px 15px 35px;
    }
        .otziv_col__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .otziv_wrap__img {
        margin-left: 0;
        width: 150px;
        height: 150px;
    }

    .otziv_col__iner {
        padding: 25px;
    }
}

@media all and (max-width : 768px) {
    .box_left__img {
        max-width: 400px;
    }
    .mobile_menu {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }

    .navbar {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navbar-collapse {
        padding-top: 0;
    }

    .nav-item {
        padding: 0;
    }

    .nav-item:nth-child(6) {
        padding: 0;
    }

    .header {
        padding-top: 15px;
    }

    .guy {
        width: 300px;
    }

    .header_ball__title {
        display: none;
    }

    .header_right {
        padding: 25px 0 0 0;
    }

    .header_right__title {
        font-size: 30px;
    }

    .header_right__text {
        width: 100%;
        max-width: 100%;
    }

    .header_left {
        top: 25%;
    }

    .header_right__button {
        max-width: 260px;
        width: 100%;
        margin-bottom: 12px;
        padding: 10px 0;
        color: #000;
        font-size: 18px;
    }

    .header_right__button.yellow {
        background: #ffff00;
        border: 1px solid #ffff00;
        text-transform: uppercase;
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    .header_right__button.yellow:hover {
        font-weight: bold;
        border-radius: 8px;
        max-width: 260px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    }

    .header_right__button.white {
        border: 4px solid #ffff00;
        background: none;
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    .header_right__button.white:hover {
        background: #ffff00;
        font-weight: bold;
        border-radius: 8px;
        max-width: 260px;
        padding: 10px 0;
        -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    }

    .right_block__image {
        width: 100px;
        height: 88px;
    }

    .header_footer__text {
        font-size: 14px;
    }

    .footer_right__link {
        font-size: 16px;
    }

    .header_footer__link {
        display: block;
        width: 30px;
        height: 32px;
        padding: 15px;
    }

    .main_hover__column {
        padding-bottom: 50px;
    }

    .main_carousel__img {
        max-width: 130px;
    }

    .why_col {
        background: none;
    }

    .why_man {
        display: none;
    }

    .game_row__image {
        max-width: 550px;
        margin-top: -40px;
    }

    .game_col__image {
        width: 50px;
        height: 50px;
    }

    .game_col__arrow {
        width: 30px;
        height: 30px;
    }

    .game_col__text {
        font-size: 14px;
    }

    .game_row {
        max-width: 550px;
    }

    .why_col__title {
        padding: 45px 0 0 0;
    }

    .why_col__image {
        left: 5px;
    }

    footer {
        margin-top: -70px;
    }

    .why_row {
        padding-top: 50px;
    }

    .main_left__btn {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .main_left__brd {
        max-width: 600px;
    }

    .main_carousel {
        text-align: center;
    }

    .infs_img {
        width: 50px;
        height: 50px;
        top: 30%;
        left: -35px;
    }

    .infs_row__text {
        font-size: 16px;
        padding: 15px 20px 15px 35px;
    }

    .infs_text {
        font-size: 16px;
    }

    .contact_wrap {
        max-width: 320px;
    }

    .contact_iner {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contact_content {
        padding-bottom: 20px;
    }

    .forum_massage_col {
        text-align: left;
        ;
    }

    .forum_col__online {
        padding: 25px;
    }

    .otziv_col__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .otziv_wrap__img {
        margin-left: 0;
        width: 100px;
        height: 100px;
    }

    .otziv_col__iner {
        padding: 25px;
    }

    .s-arenda_col {
        max-width: 600px;
        margin: 0 auto;
    }

    .carousel-control-wrap {
        left: 40%;
    }
}

@media all and (max-width : 425px) {
    .tarif_btns {
        display: none;
    }
    .header_image {
        max-width: 300px;
    }

    .header_right {
        text-align: center;
    }

    .header_right__button {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .header_right__block {
        max-width: 100%;
        width: 100%;
    }

    .header_footer__left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .header_footer__line {
        display: none;
    }

    .header_footer__right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header_right__yellow {
        left: -30px;
    }

    .main_carousel__img {
        width: 60px;
    }

    .main_control__prev {
        width: 15px;
        left: -30px;
    }

    .main_control__next {
        width: 15px;
        right: -30px;
    }

    .main_control__prev img {
        width: 15px;
        height: 30px;
    }

    .main_control__next img {
        width: 15px;
        height: 30px;
    }

    .play_content {
        background: none;
    }

    .play_content__red {
        display: none;
    }

    .play_content__yellow {
        display: none;
    }

    .tariff_text {
        padding: 0;
    }

    .why_col__title {
        font-size: 18px;
    }

    .why_col__text {
        font-size: 16px;
    }

    .team_col:nth-child(3) {
        margin-bottom: 120px;
    }

    .game_row__image {
        max-width: 320px;
    }

    .game_col__arrow {
        margin: 0 2px;
    }

    .game_col__text {
        max-width: 320px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .footer_col {
        text-align: center;
        padding-bottom: 30px;
    }

    .main_carousel__slider {
        width: 300px;
    }

    .footer_title {
        font-size: 18px;
    }

    .footer_link {
        font-size: 15px;
    }

    .title_black {
        padding: 40px 0 30px 0;
        font-size: 24px;
    }

    .title_white {
        padding: 4px 0 30px 0;
        font-size: 24px;
    }

    .why {
        padding-top: 60px;
    }

    .why_col__image {
        width: 55px;
        height: 55px;
        top: -25px;
    }

    .why_col__image.four {
        top: -25px;
    }

    .blog_col img {
        height: 150px;
    }

    .blog_text {
        font-size: 16px;
    }

    .arrow_down {
        right: 42%;
    }

    .blog_col__row {
        padding: 40px 15px 0 15px;
    }

    .header_right__text {
        padding: 0 15px;
    }

    .infs_img {
        top: -35px;
        left: 40%;
    }

    .infs_row__text {
        padding: 10px;
        text-align: center;
        ;
    }

    .contact_form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .checkbox_block {
        padding-bottom: 20px;
    }

    .forum_header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .forum_header__right {
        padding-bottom: 15px;
    }

    .forum_footer__title {
        font-size: 20px;
    }

    .forum_footer__text {
        font-size: 16px;
    }

    .tema_row {
        margin: 0;
    }

    .tema_img {
        width: 20px;
        height: 20px;
    }

    .tema_col_center {
        padding: 10px 5px 10px 5px;
    }

    .tema_title {
        font-size: 18px;
    }

    .tema_text {
        font-size: 16px;
    }

    .tema_massage {
        font-size: 14px;
    }

    .tema_col_left {
        display: none;
    }

    .tema_title {
        font-size: 16px;
    }

    .tema_other {
        font-size: 14px;
    }

    .forum_btn__row {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .carousel.otz {
        padding: 15px 15px 100px 15px;
    }

    .box_top__text {
        font-size: 14px;
    }

    .carousel-control-prev-icon,
    .main_carousel__prev {
        width: 20px;
        height: 20px;
    }

    .carousel-control-next-icon,
    .main_carousel__next {
        width: 20px;
        height: 20px;
    }
}

@media all and (max-width : 375px) {
    .arrow_down {
        right: 41%;
    }

    .tema_row__centr p {
        font-size: 12px;
    }

    .tema_row__left {
        font-size: 16px;
    }

    .tema_row__right {
        font-size: 16px;
    }

    .forum_btn.right {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 8px;
    }
}

@media all and (max-width : 320px) {
    .guy {
        max-width: 250px;
    }

    .header_image {
        max-width: 220px;
    }

    .main_content__wrap {
        display: none;
    }

    .play {
        margin-top: 60px;
    }

    .game_row__image {
        max-width: 220px;
        margin-top: -18px;
    }

    .game_col__image {
        width: 25px;
        height: 25px;
    }

    .footer_wrap__image {
        width: 30px;
        height: 30px;
    }

    .arrow_down {
        right: 39%;
    }

    .blog_col img {
        height: 120px;
    }

    .box_top__brd {
        display: none;
    }
}
