&-link {
	margin-bottom: 75px;
	@include font-set(null,400,110px);
	color: $secondaryColor;
	font-family: $fontGilroy;
	z-index: 2;
	@media #{$lg} {
		line-height: 60px;
		margin-bottom: 35px;
	}
	@media #{$xs} {
		margin-bottom: 20px;
	}
	&--email {
		font-size: 30px;
		@media #{$xs} {
			font-size: 18px;
		}
	}
	&--phone {
		font-size: 48px;
		@media #{$lg} {
			font-size: 40px;
			margin-bottom: 0;
		}
		@media #{$xs} {
			font-size: 26px;
		}
	}
}